<div class="header">
    <div class = "logoDiv">
        <img src="https://sun9-30.userapi.com/c857120/v857120674/ded2f/D5blv62-tno.jpg" class="logo">
    </div>

    <div class="rightPart">
        <div class="navHeader">
            <input class="menu-btn" type="checkbox" id="menu-btn" />
            <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
            <ul class="menu">
                <li><a href="#myCafe">мои кафе</a></li>
                <li><a href="#staff">работники</a></li>
                <li><a href="#add">добавить</a></li>
                <li><a href="#stat">статистика</a></li>
            </ul>
        </div>
        <div class = "userPicDiv">
            <img src="https://sun9-52.userapi.com/c857120/v857120621/e1197/AGVLHk62SEs.jpg">
        </div>
    </div>

</div>
