<div class="card__header__fields__auxiliary">
    <span class="card__header__fields__auxiliary_spanLabel">{{label}}</span>
    <span class="card__header__fields__auxiliary_spanValue">{{value}}</span>
</div>
