<div class="main">
    <div class="coffeeStacks" id="stacks">
    </div>
    <div class="coffees" id="label">
    </div>
    <div class="buttonFlex">
        <button class="buttonFlex__plus" >+</button>
        <button class="buttonFlex__minus">-</button>
    </div>
</div>



