<div class="loyalty-redactor">
    <h4 class="loyalty-redactor_h4">Выбор системы лояльности</h4>

    <div class="loyalty-redactor__buttons-field">

        <div class="loyalty-redactor__buttons-field__loyalty-field" >
            <div class="loyalty-redactor__buttons-field__loyalty-field__button">
                <img class="loyalty-redactor__buttons-field__loyalty-field__button_img" src="/images/stamp.png">
            </div>
            <div class="loyalty-redactor__buttons-field__loyalty-field__description-right"></div>
            <div class="loyalty-redactor__buttons-field__loyalty-field__description-center"></div>
            <div class="loyalty-redactor__buttons-field__loyalty-field__description-left"></div>
        </div>

        <div class="loyalty-redactor__buttons-field__loyalty-field">
            <div class="loyalty-redactor__buttons-field__loyalty-field__button">
                <img class="loyalty-redactor__buttons-field__loyalty-field__button_img" src="/images/discount.png">
            </div>

            <div class="loyalty-redactor__buttons-field__loyalty-field__description-right"></div>
            <div class="loyalty-redactor__buttons-field__loyalty-field__description-center"></div>
            <div class="loyalty-redactor__buttons-field__loyalty-field__description-left"></div>

        </div>

        <div class="loyalty-redactor__buttons-field__loyalty-field">
            <div class="loyalty-redactor__buttons-field__loyalty-field__button">
                <img class="loyalty-redactor__buttons-field__loyalty-field__button_img" src="/images/wallet.png">
            </div>
            <div class="loyalty-redactor__buttons-field__loyalty-field__description-right"></div>
            <div class="loyalty-redactor__buttons-field__loyalty-field__description-center"></div>
            <div class="loyalty-redactor__buttons-field__loyalty-field__description-left"></div>
        </div>

        <div class="loyalty-redactor__buttons-field__loyalty-field">
            <div class="loyalty-redactor__buttons-field__loyalty-field__button">
                <img class="loyalty-redactor__buttons-field__loyalty-field__button_img" src="/images/coupon.png">
            </div>
            <div class="loyalty-redactor__buttons-field__loyalty-field__description-right"></div>
            <div class="loyalty-redactor__buttons-field__loyalty-field__description-center"></div>
            <div class="loyalty-redactor__buttons-field__loyalty-field__description-left"></div>
        </div>

    </div>

    <div class="description-loyalty">
        <div class="description-loyalty__text-field">
            <span class="description-loyalty__text-field_span">Описание действия данной системы
                Описание действия данной системы  Описание действия данной системы
                Описание действия данной системы  Описание действия данной системы  Описание действия данной системы </span>
        </div>
        <div class="description-loyalty__logic-container">

        </div>
    </div>

</div>
