<div class="loyalty-redactor">
    <h4 class="loyalty-redactor_h4">Выбор системы лояльности</h4>

    <div class="loyalty-redactor__buttons">
        <div class="loyalty-redactor__buttons__button-normal">
            <img src="/images/stamp.png">
            <div class="loyalty-redactor__buttons__button-normal__bottom">

            </div>
            <div class="layer"></div>
        </div>
        <div class="loyalty-redactor__buttons__button-normal">
            <img src="/images/discount.png">
            <div class="loyalty-redactor__buttons__button-normal__bottom">

            </div>
            <div class="layer"></div>
        </div>
        <div class="loyalty-redactor__buttons__button-normal">
            <img src="/images/wallet.png">
            <div class="loyalty-redactor__buttons__button-normal__bottom">

            </div>
            <div class="layer"></div>
        </div>
        <div class="loyalty-redactor__buttons__button-normal">
            <img src="/images/coupon.png">
            <div class="loyalty-redactor__buttons__button-normal__bottom">
            </div>
            <div class="layer"></div>
        </div>
    </div>
    <div class="loyalty-redactor__description-normal">
        <div class="rect">

        </div>
    </div>



</div>
