<div class="input-alert-window-container">
    <div class="input-alert-window-container__window">

        <div class="input-alert-window-container__window__field">
                <input class="input-alert-window-container__window__field_input" type="text" placeholder="Должность">
            <div class="input-alert-window-container__window__field__button">
                <h4 class="input-alert-window-container__window__field__button_h4">Получить код</h4>
            </div>
        </div>

    </div>
</div>
