.notification{
  min-height: 50px;
  min-width: 250px;

  max-width: 400px;
  font-family: Montserrat, sans-serif;

  position: fixed;
  top: 10px;
  right:10px;
  display: flex;
  opacity: 1;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
  border-radius: 15px 15px 15px 15px;
  transition: opacity 2s linear 0s, right 2s linear 0s;
  z-index: 10;
  &_span{
    font-size: 1rem;
    margin: 0 auto;
  }
  &_p{
    font-size: 1rem;
    margin: 0 10px;

  }
}
