<div class="staff-card-container">
    <div class="staff-card-container__user-image-container">
        <div class="staff-card-container__user-image-container__image-square">
            <img class="staff-card-container__user-image-container__image-square_img"
                 src="{{Photo}}">
        </div>
    </div>

    <div class="staff-card-container__name-container">
        <span class="staff-card-container__name-container_span">{{StaffName}}</span>
        <div class="staff-card-container__name-container__strip"></div>
    </div>
    <div class="staff-card-container__position-container">
        <span class="staff-card-container__position-container_span">{{Position}} </span>
    </div>
</div>
