
.nameField_h4, .field-button{
    margin-left: 10%;
}
.nameField_h4{
    cursor: default;
}
.labelField, .valueField, .valueField_label, .labelField_label{
    margin-left: 10%;
    margin-right: 10%;
}
.labelField , .valueField{
    margin-bottom: 0.5rem;
    width: 80%;
    height:1.5rem;
    /*border: none;*/
    /*border-bottom: solid 2px #000000;*/
    border: solid 2px #000000;

}


.labelField_label {

}

.valueField_label {

}

.field-button {
    width: 100px;
    /*width: 25px;*/
    height: 25px;
    border-radius: 25px;
    border: 2px solid #1e768f;
    background-color: #1e768f;
    color: #fff;
    transition: width 0.7s;
    overflow: hidden;
}


.field-button i {
    opacity: 0;
    transition: opacity 0.5s
}

.field-button .button-text {
    display: flex;
    justify-content: space-around;
    margin-top: -20%;
    font-size: 1rem;
    width: 100%;
    left: 0;
    cursor: pointer;

}

