<div class="loyalty-discount-container">
    <div class="loyalty-discount-container__logic">
        <div class="loyalty-discount-container__logic__button-field">
            <h4 class="loyalty-discount-container__logic__button-field_span">Уровни скидки.
            Клиент получает скидку при покупке на определенную сумму </h4>
            <div class="loyalty-discount-container__logic__button-field__button">
                <span class="loyalty-discount-container__logic__button-field__button_span">
                    Добавить
                </span>
            </div>
        </div>

        <div class="loyalty-discount-container__logic__discounts">
            {{#each discounts}}
                {{{this}}}
            {{/each}}
        </div>
    </div>
</div>
