<div class="survey">
    <div class="survey__header">
        <h4 class="survey__header_h4">Опрос</h4>
    </div>
    <div class="survey__cells">
        {{#each cells}}
            <div class="survey__cells__cell" id="cell-{{cell_id}}">
            </div>
        {{/each}}
    </div>
    <div class="survey__submit">
        <div class="survey__submit__button">
            <span class="survey__submit__button_span">Сохранить</span>
        </div>
    </div>

</div>
