
<div class="landing">
    <div class="landing__main">
        <h4 class="landing__main_h4" >eLoyalty</h4>
        <p class="landing__main_p" >Тренд 2020 года — это растущая актуальность онлайн сервисов и интернет-магазинов.
            Для каждого успешного бизнеса создание и развитие отношений с клиентами является одной из ключевых задач.
            Электронные карты позволяют автоматизировать эту задачу.</p>
    </div>
    <div class="landing__info">
        <div class="landing__info__logic">
            <h4 class="landing__info__logic_h4">Предпринимателям</h4>
            <p class="landing__info__logic_p"> Автоматизируйте выдачу бонусных карт, избавьтесь от пластиковых карт и бумажных анкет.
                Привлекайте клиентов с помощью гео-уведомлений. Следите за статистикой работников</p>
        </div>
        <div class="landing__info__design">
            <img class = "landing__info__design_img" src="images/cafes.png">
        </div>
    </div>
    <div class="landing__info">
        <div class="landing__info__design">
            <img class = "landing__info__design_img" src="images/walletcards.png">
        </div>
        <div class="landing__info__logic">
            <h4 class="landing__info__logic_h4">Посетителям</h4>
            <p class="landing__info__logic_p">Клиенты хранят вашу карту в своем телефоне.
                Карта напоминает о заведении push сообщением, как только клиент оказывается рядом.</p>
        </div>
    </div>
    <div class="landing__space">
    </div>
    <div class="landing__description">
        <h4 class="landing__description_h4" >Сервис</h4>
        <p class="landing__description_p" >Вам предоставлен инструмент для создания своей системы лояльности. Выбертите подходящий шаблон
        и кастомизируйте его под стиль вашего заведения.</p>
    </div>

    <div class="landing__partners">
        <h4 class="landing-cafes-page_h4">Наши клиенты</h4>
        <div class="landing__partners_container">
        <input class="landing-page__search" id="search" type="text" size="40" placeholder="Заведение">
        <button id="searchButton">Поиск</button>
        </div>
            <div class="landing-page__cafes__container"></div>

        <div class="cafes-buttons">
            <div  class="landing-page__cafes__circle-left" >
                <div  class="landing-page__cafes__circle-left__circle" >
                    <svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M40.6667 17.7917H9.73458L23.9425 3.58375L20.3333 0L0 20.3333L20.3333 40.6667L23.9171 37.0829L9.73458 22.875H40.6667V17.7917Z" fill="black"/>
                    </svg>
                </div>
            </div>

            <div class="landing-page__cafes__circle-right">
                <div class="landing-page__cafes__circle-right__circle">
                    <svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M40.6667 17.7917H9.73458L23.9425 3.58375L20.3333 0L0 20.3333L20.3333 40.6667L23.9171 37.0829L9.73458 22.875H40.6667V17.7917Z" fill="black"/>
                    </svg>
                </div>
            </div>

        </div>

        </div>

    <div class="landing__map">
        <div id="map" style="width: 100%; height: 100%"></div>
    </div>

    <div class="landing__footer">
        <h4 class="landing__footer_h4">О нас</h4>
        <p class="landing__footer_p">Сервис разработан командой drop_table при поддержке преподавателей и менторов Технопарка</p>
    </div>

</div>

</div>



