
<div class="landing-page">

    <div class="landing-page__form-and-cards">

        <div class="landing-page__form-and-cards__form">

            <div class="landing-page__form-and-cards__form__text">
                <h4 class="landing-page__form-and-cards__form__text_h4">Увеличьте прибыль вашего бизнеса</h4>
                <span class="landing-page__form-and-cards__form__text_span">Наши электронные карты лояльности позволят вам экономить деньги и получать постоянных клиентов. Они хранятся у клиента прямо в телефоне, и стоят для вас дешевле чем бумажные альтернативы.</span>
            </div>
            <div class="landing-page__form-and-cards__form__form-field">
                <input class="landing-page__form-and-cards__form__form-field_input">
                <button class="landing-page__form-and-cards__form__form-field_button">Хочу себе карточку</button>
            </div>

        </div>

        <div class="landing-page__form-and-cards__cards">
            <div class="landing-page__form-and-cards__cards__stacked-cards">
                <img class="landing-page__form-and-cards__cards__stacked-cards_img" id="card1" src="/images/card.svg">
                <img class="landing-page__form-and-cards__cards__stacked-cards_img" id="card2" src="/images/card.svg">
                <img class="landing-page__form-and-cards__cards__stacked-cards_img" id="card3" src="/images/card.svg">
            </div>
        </div>

    </div>

    <div class="landing-page__description">
        <h4 class="landing-page__description_h4">Без сложностей</h4>
        <span class="landing-page__description_span">Никаких загрузок. Никакой регистрации. Приходя к вам клиент сканирует qr-код и получает карточку. Карточка храниться в Google или Apple кошельке. Ваш кассир может считать ее своим телефоном, добавить клиенту бонусных баллов или применить скидку.</span>
    </div>

    <div class="landing-page__phone-card">

        <div class="landing-page__phone-card__phone">
            <div class="landing-page__phone-card__phone__image-container">
                <img class="landing-page__phone-card__phone__image-container_img" src="/images/phone.png">
            </div>
        </div>

        <div class="landing-page__phone-card__text">
            <div class="landing-page__phone-card__text__container">
                <h4 class="landing-page__phone-card__text__container_h4">Карточка прямо в телефоне</h4>
                <span class="landing-page__phone-card__text__container_span">Карты находятся у клиентов в Google или Apple wallet</span>
            </div>

        </div>

    </div>

    <div class="landing-page__coupon-and-card">

        <div class="landing-page__coupon-and-card__text">
            <div class="landing-page__coupon-and-card__text__container">
                <h4 class="landing-page__coupon-and-card__text__container_h4">Дешевле бумажных карт</h4>
                <span class="landing-page__coupon-and-card__text__container_span">Базовый тариф 3000 в месяц.</span>
            </div>
        </div>

        <div class="landing-page__coupon-and-card-coupon">
            <div class="landing-page__coupon-and-card-coupon__image-container">
                <img class="landing-page__coupon-and-card-coupon__image-container_img" src="/images/card-coupon.svg">
            </div>
        </div>

    </div>

    <div class="landing-page__cafes">
        <div  class="landing-page__cafes__circle-left" >
            <div  class="landing-page__cafes__circle-left__circle" >
                <svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M40.6667 17.7917H9.73458L23.9425 3.58375L20.3333 0L0 20.3333L20.3333 40.6667L23.9171 37.0829L9.73458 22.875H40.6667V17.7917Z" fill="black"/>
                </svg>
            </div>
        </div>

        <div class="landing-page__cafes__container">
        </div>

        <div class="landing-page__cafes__circle-right">
            <div class="landing-page__cafes__circle-right__circle">
                <svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M40.6667 17.7917H9.73458L23.9425 3.58375L20.3333 0L0 20.3333L20.3333 40.6667L23.9171 37.0829L9.73458 22.875H40.6667V17.7917Z" fill="black"/>
                </svg>
            </div>
        </div>

    </div>


    <div class="landing-page__phones-client">

        <div class="landing-page__phones-client__phones">
            <div class="landing-page__phones-client__phones__image-container">
                <img class="landing-page__phones-client__phones__image-container_img" src="/images/phones.svg">
            </div>
        </div>

        <div class="landing-page__phones-client__text">

            <div class="landing-page__phones-client__text__container">
                <h4 class="landing-page__phones-client__text__container_h4">Прямой контакт с клиентом</h4>
                <span class="landing-page__phones-client__text__container_span">Рассылки помогут рассказать об акциях. Уведомления по геолокации напомнят, когда вы рядом. Статистика поможет лучше понять клиента.</span>
            </div>
        </div>

    </div>

    <div class="landing-page__description">
        <h4 class="landing-page__description_h4">Базовый тариф</h4>
        <span class="landing-page__description_span">Безлимитное количество карточек на одну точку
Гео-уведомления
Техническая поддержка
Помощь в дизайне карточки
            </span>
    </div>

</div>


<div class="landing-page__card-instruments">

    <div class="landing-page__card-instruments__text">
        <h4 class="landing-page__card-instruments__text_h4">Настройте тариф под ваши нужды и бюджет</h4>
        <span class="landing-page__card-instruments__text_span">Вы можете выбрать идеальный набор инструментов для вашего бизнеса</span>
    </div>

    <div class="landing-page__card-instruments__cards">

        <div class="landing-page__card-instruments__cards__card">
            <div class="landing-page__card-instruments__cards__card__header">
                <img class="landing-page__card-instruments__cards__card__header_img" src="/images/icon1.svg">
            </div>
            <div class="landing-page__card-instruments__cards__card__text">
                <h4 class="landing-page__card-instruments__cards__card__text_h4">Персонализация карты</h4>
                <span class="landing-page__card-instruments__cards__card__text_span">Карта клиента будет именной, после сканирования ваш сотрудник будет видеть всю информацию, которой клиент готов поделиться.</span>
            </div>

        </div>

        <div class="landing-page__card-instruments__cards__card">
            <div class="landing-page__card-instruments__cards__card__header">
                <img class="landing-page__card-instruments__cards__card__header_img" src="/images/icon2.svg">
            </div>
            <div class="landing-page__card-instruments__cards__card__text">
                <h4 class="landing-page__card-instruments__cards__card__text_h4">Персонализация карты</h4>
                <span class="landing-page__card-instruments__cards__card__text_span">Карта клиента будет именной, после сканирования ваш сотрудник будет видеть всю информацию, которой клиент готов поделиться.</span>
            </div>

        </div>

        <div class="landing-page__card-instruments__cards__card">
            <div class="landing-page__card-instruments__cards__card__header">
                <img class="landing-page__card-instruments__cards__card__header_img" src="/images/icon3.svg">
            </div>
            <div class="landing-page__card-instruments__cards__card__text">
                <h4 class="landing-page__card-instruments__cards__card__text_h4">Персонализация карты</h4>
                <span class="landing-page__card-instruments__cards__card__text_span">Карта клиента будет именной, после сканирования ваш сотрудник будет видеть всю информацию, которой клиент готов поделиться.</span>
            </div>

        </div>

        <div class="landing-page__card-instruments__cards__card">
            <div class="landing-page__card-instruments__cards__card__header">
                <img class="landing-page__card-instruments__cards__card__header_img" src="/images/icon4.svg">
            </div>
            <div class="landing-page__card-instruments__cards__card__text">
                <h4 class="landing-page__card-instruments__cards__card__text_h4">Персонализация карты</h4>
                <span class="landing-page__card-instruments__cards__card__text_span">Карта клиента будет именной, после сканирования ваш сотрудник будет видеть всю информацию, которой клиент готов поделиться.</span>
            </div>

        </div>

        <div class="landing-page__card-instruments__cards__card">
            <div class="landing-page__card-instruments__cards__card__header">
                <img class="landing-page__card-instruments__cards__card__header_img" src="/images/icon5.svg">
            </div>
            <div class="landing-page__card-instruments__cards__card__text">
                <h4 class="landing-page__card-instruments__cards__card__text_h4">Персонализация карты</h4>
                <span class="landing-page__card-instruments__cards__card__text_span">Карта клиента будет именной, после сканирования ваш сотрудник будет видеть всю информацию, которой клиент готов поделиться.</span>
            </div>

        </div>

        <div class="landing-page__card-instruments__cards__card">
            <div class="landing-page__card-instruments__cards__card__header">
                <img class="landing-page__card-instruments__cards__card__header_img" src="/images/icon6.svg">
            </div>
            <div class="landing-page__card-instruments__cards__card__text">
                <h4 class="landing-page__card-instruments__cards__card__text_h4">Персонализация карты</h4>
                <span class="landing-page__card-instruments__cards__card__text_span">Карта клиента будет именной, после сканирования ваш сотрудник будет видеть всю информацию, которой клиент готов поделиться.</span>
            </div>

        </div>


    </div>

</div>

<div id="map" style="width: 600px; height: 400px"></div>

<div class="landing-page__description-footer">
            <span class="landing-page__description-footer_span">
                Зарегистрируйтесь и получите скидку 30% на первый месяц
            </span>
    <div class="landing-page__description-footer__form-field">
        <input class="landing-page__description-footer__form-field_input">
        <button class="landing-page__description-footer__form-field_button">Получить персональное предложение</button>
    </div>
</div>


</div>


