
<div class="landing">
    <div class="landing__main">
        <h4 class="landing__main_h4" >eLoyalty</h4>
        <p class="landing__main_p" >Тренд 2020 года — это растущая актуальность онлайн сервисов и интернет-магазинов.
            Для каждого успешного бизнеса создание и развитие отношений с клиентами является одной из ключевых задач.
            Электронные карты позволяют автоматизировать эту задачу.</p>
    </div>
    <div class="landing__info">
        <div class="landing__info__logic">
            <h4 class="landing__info__logic_h4">Предпринимателям</h4>
            <p class="landing__info__logic_p"> Автоматизируйте выдачу бонусных карт, избавьтесь от пластиковых карт и бумажных анкет.
                Привлекайте клиентов с помощью гео-уведомлений. Следите за статистикой работников</p>
        </div>
        <div class="landing__info__design">

        </div>
    </div>
    <div class="landing__info">
        <div class="landing__info__design">
            <div class="landing__info__design__cards">
                <div class="landing__info__design__cards_main-card">
                    <!--                    <img class="landing__info__design__cards_main-card_img" id="apple-card1" src="./card1.png">-->
                    <div class="landing__info__design__cards_card">
                        <img class="landing__info__design__cards_card_img" id="apple-card2" src="images/card2.png">
                    </div>
                    <div class="landing__info__design__cards_card">
                        <img class="landing__info__design__cards_card_img" id="apple-card3" src="images/card3.png">
                    </div>
                    <div class="landing__info__design__cards_card">
                        <img class="landing__info__design__cards_card_img" id="apple-card4" src="images/card4.png">
                    </div>
                </div>

            </div>
        </div>
        <div class="landing__info__logic">
            <h4 class="landing__info__logic_h4">Посетителям</h4>
            <p class="landing__info__logic_p">Клиенты хранят вашу карту в своем телефоне.
                Карта напоминает о заведении push сообщением, как только клиент оказывается рядом.</p>
        </div>
    </div>
    <div class="landing__space">
    </div>
    <div class="landing__description">
        <h4 class="landing__description_h4" >Описание чего-то</h4>
        <p class="landing__description_p" >Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то
            Что-то Что-то Что-то Что-то</p>
    </div>

    <div class="landing__partners">
        <h4 class="landing-cafes-page_h4">Наши клиенты</h4>
        <div class="landing__partners_container">
        <input class="landing-page__search" id="search" type="text" size="40" placeholder="Заведение">
        <button id="searchButton">Поиск</button>
        </div>
            <div class="landing-page__cafes__container"></div>

        <div class="cafes-buttons">
            <div  class="landing-page__cafes__circle-left" >
                <div  class="landing-page__cafes__circle-left__circle" >
                    <svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M40.6667 17.7917H9.73458L23.9425 3.58375L20.3333 0L0 20.3333L20.3333 40.6667L23.9171 37.0829L9.73458 22.875H40.6667V17.7917Z" fill="black"/>
                    </svg>
                </div>
            </div>

            <div class="landing-page__cafes__circle-right">
                <div class="landing-page__cafes__circle-right__circle">
                    <svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M40.6667 17.7917H9.73458L23.9425 3.58375L20.3333 0L0 20.3333L20.3333 40.6667L23.9171 37.0829L9.73458 22.875H40.6667V17.7917Z" fill="black"/>
                    </svg>
                </div>
            </div>

        </div>

        </div>

    <div class="landing__map">
        <div id="map" style="width: 100%; height: 100%"></div>
    </div>

    <div class="landing__footer">
        <h4 class="landing__footer_h4">Футер</h4>
        <p class="landing__footer_p">Что-то про нас Что-то про нас Что-то про нас Что-то про нас Что-то про нас Что-то про нас</p>
    </div>

</div>

</div>



