<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="land.scss">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://api-maps.yandex.ru/2.1/?apikey=42822888-b48e-4a87-81c8-cbd67770b60b&lang=ru_RU" type="text/javascript"></script>
    <title>Title</title>
</head>
<body>

<div class="landing">
    <div class="landing__main">
        <h4 class="landing__main_h4" >eLoyalty</h4>
        <p class="landing__main_p" >Описание ОписаниеОписание ОписаниеОписание Описание ОписаниеОписание
            Описание Описание Описание Описание Описание ОписаниеОписание Описание ОписаниеОписание
            ОписаниеОписание Описание</p>
    </div>
    <div class="landing__info">
        <div class="landing__info__logic">
            <h4 class="landing__info__logic_h4">Предпринимателям</h4>
            <p class="landing__info__logic_p"> Описание Описание Описание Описание Описание Описание Описание Описание Описание Описание
                Описание Описание Описание Описание ОписаниеОписание ОписаниеОписание ОписаниеОписание ОписаниеОписание</p>
        </div>
        <div class="landing__info__design">

        </div>
    </div>
    <div class="landing__info">
        <div class="landing__info__design">
            <div class="landing__info__design__cards">
                <div class="landing__info__design__cards_main-card">
<!--                    <img class="landing__info__design__cards_main-card_img" id="apple-card1" src="./card1.png">-->
                    <div class="landing__info__design__cards_card">
                        <img class="landing__info__design__cards_card_img" id="apple-card2" src="./card2.png">
                    </div>
                    <div class="landing__info__design__cards_card">
                        <img class="landing__info__design__cards_card_img" id="apple-card3" src="./card3.png">
                    </div>
                    <div class="landing__info__design__cards_card">
                        <img class="landing__info__design__cards_card_img" id="apple-card4" src="./card4.png">
                    </div>
                </div>

            </div>
        </div>
        <div class="landing__info__logic">
            <h4 class="landing__info__logic_h4">Посетителям</h4>
            <p class="landing__info__logic_p"> Описание ОписаниеОписание ОписаниеОписание Описание ОписаниеОписание
                Описание Описание Описание Описание Описание ОписаниеОписание
                ОписаниеОписание Описание</p>
        </div>
    </div>
    <div class="landing__space">
    </div>
    <div class="landing__description">
        <h4 class="landing__description_h4" >Описание чего-то</h4>
        <p class="landing__description_p" >Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то
            Что-то Что-то Что-то Что-то</p>
    </div>

    <div class="landing__partners">

    </div>


    <div class="landing__map">
        <div id="map" style="width: 100%; height: 100%"></div>
    </div>
    <div class="landing__footer">
        <h4 class="landing__footer_h4">Футер</h4>
        <p class="landing__footer_p">Что-то про нас Что-то про нас Что-то про нас Что-то про нас Что-то про нас Что-то про нас</p>
    </div>

</div>

</body>
</html>
