
.apple-card-published-qr-container{
    max-width: 1440px;
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top:0;
    z-index: 9;

    &__QR-window {
        position: fixed;
        justify-self: center;
        top: 25%;
        margin-left: auto;
        margin-right: auto;
        z-index: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 80%;
        border-radius: 0.5rem;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);

        &_h4{
            font-family: Montserrat, Arial, serif;
            font-size: 2rem;
            justify-self: center;
            margin-left: 10px;
            margin-right: 10px;
            white-space: nowrap;
        }
        &_a{
            font-family: Montserrat, Arial;
            font-size: 1rem;
            justify-self: center;
            margin-left: auto;
            margin-right: auto;
            padding: 0 1rem;
            border: none;
        }
        &_button{
            font-family: Montserrat;
            font-size: 1rem;
            appearance: none;
            border: none;
            width: 100px;
            height: 50px;
            margin: 5px auto;
            border-radius: 5px;
            background-color: #1e768f;
            color: white;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
            &:hover{
                box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
            }
            transition: background-color 1s ease;
            &:active{
                transition: background-color 0s ease;
                background-color: #fa9917;
            }

        }
        &_img{
            height: 15rem;
            width: 15rem;
            justify-self: center;
            margin-left: auto;
            margin-right: auto;
            margin-bottom:2rem ;
        }
    }

}




