@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300&display=swap');

@media(max-width: 600px) {
    h1{
        font-size: 2.5rem;

    }
    .user-profile__header___decorate-container__text-field{
        margin-left:auto;
        margin-right:auto;
    }

}
@media(min-width: 600px) {
    h1{
        font-size: 3.5rem;

    }
    .user-profile__header___decorate-container__text-field{
        margin-left: 100px;
    }

}

.user-profile{
    font-family: 'Montserrat',SansSerif;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.user-profile__header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.user-profile__header__logo-container{
    width: max-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    &_img{
        width: 16%;
        align-self: end;
        margin-right: 28%;
        background-color: white;
        border-radius: 50%;
        cursor: pointer;
        pointer-events: none;
    }
}

.user-profile__header__logo-container_image-picker{
    height: 100%;
    width: max-content;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 5px auto -25% 0;
}

.user-profile__header__logo-container_image-picker_img{
    border-radius: 50%;
    max-height: 150px;
    max-width: 150px;
    height: 10vw;
    width: 10vw;
    min-width: 75px;
    min-height: 75px;
    margin: 0 auto;
    object-fit: cover;
    border: 1px solid;
}

.user-profile__header__logo-container_image-picker_span{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.user-profile__header__logo-container_image-picker_input{

}

.user-profile__header__decorate-container{
}

.user-profile__header___decorate-container__text-field{
    display: flex;
    flex-direction: column;
    justify-self: flex-start;

}

.user-profile__header___decorate-container__text-field_h1{
    white-space: nowrap;
    margin: 0;
}

.user-profile__header___decorate-container__text-field__strip{
     width: 100%;
     height: 5px;
    background-color: #1C768F;
 }



.user-profile__form-container{
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.user-profile__form-container__form-field{
    max-width:600px;
    max-height:900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .input-field {
        position: relative;
        margin: 15px auto 0 auto;
        display: flex;
        width: 300px;

        &_input {
            border-radius: 0;
            border: none;
            border-bottom: solid 2px;
            background: none;
            font-size: 1rem;
            margin: 15px auto;
            width: 100%;
        }

        &_label {
            position: absolute;
            left: 0;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            pointer-events: none;
            -webkit-transition: all 0.15s ease-out 0s;
            transition: all 0.15s ease-out 0s;
            font-size: 1rem;
        }

        &__submit {
            -webkit-appearance: none;
            font-size: 1rem;
            margin: 0 auto;
            background-color: #1e768f;
            color: white;
            font-weight: lighter;
            border: none;
            width: 250px;
            height: 50px;
            cursor: pointer;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);

            &:hover {
                box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
            }
        }
    }

}

@media (max-width: 500px) {

}

.user-profile__header__utils{
    display: flex;
    justify-self: flex-end;
    margin-top: 5px;
}

.switch{
    position: relative;
    display: block;
    width: 90px;
    height: 55px;
    margin-right:20px;
    margin-left: auto;
}
.slider{
    position: absolute;
    cursor: pointer;
    top: 0; left: 0; bottom: 0; right: 0;
    background-color: white;
    //border: 1px solid #141414;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    transition: .5s;
}
.slider:before{
    position: absolute;
    content: "";
    //bottom: 14px;
    top: 4px;
    left: 5px;
    background: radial-gradient(#FFF76B 0%, #FFF845 30%, #FFDA4E 50%, #FB8933 100%);
    transition: .5s;
}
.switch input{
    display: none;
}
input:checked + .slider{

    background-color: #141414;
    //border: 3px solid white;
}
input:checked + .slider:before{
    margin-top: 1px;
    transform: translateX(35.5px);
    background: radial-gradient(rgba(255,255,255,0.75) 0%, rgba(127,127,127,0.5) 90%, #000 100%);
    //background: url(http://errazib.com/img/dark_moon.png) no-repeat center;
    //background-size:cover;
}
.slider.round{
    border-radius: 35px;
}
.slider.round:before{
    width: 44px;
    height: 44px;
    border-radius: 50%;
}
