@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300&display=swap');

.user-profile__header{
    height: 30%;
    width: 100%;
}
.user-profile__form-container{
    font-family: 'Montserrat',SansSerif;
    padding-top: 5%;
    width: 100%;
    height: 50%
}

.user-profile__header__logo-container{
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    text-align: center;
    padding-left: 10%;
    float: left;
    /*font-family: Montserrat;*/
    /*text-decoration: underline;*/
}

.user-profile__header__logo-container_image-picker_img{
    width: 100%;
    height: 100%;
    border-radius: 50%;

}

.user-profile__header__logo-container_image-picker{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: block;
    cursor: pointer;
    text-align: center;
}
.user-profile__header__logo-container_image-picker_span {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    color: black;
}

.user-profile__decorate-container{
    width: 30%;
    height: 100%;
    margin-left: 35%;
    /*margin-top: 10%;*/
    font-family: Montserrat;
    font-weight: bold;
    font-size: 3rem;
    white-space: nowrap ;
}
.user-profile__decorate-container__text-field{

}
.user-profile__decorate-container__strip{
    width:15rem;
    height: 0.5rem;
    padding-left: 10%;
    background-color: #1e768f;

}


.user-profile__form-container__form-field{
    font-family: 'Montserrat',SansSerif;
    margin: 0 40%;
    /*bottom: 20%;*/
}
@media (max-width: 700px) {
    .user-profile__form-container__form-field{
       font-family: 'Montserrat',SansSerif;
        margin: 0% 15%;
        padding-top: 15rem;
        bottom: 20%;
    }
}


/*input {*/
/*    background: none;*/
/*    color: #000000;*/
/*    padding-top: 5%;*/
/*    padding-bottom: 5%;*/
/*    font-size: 1rem;*/

/*}*/
