@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300&display=swap');
@import '../../scss/themes.scss';
.user-profile{
    font-family: 'Montserrat',SansSerif;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.user-profile__header{
    display: flex;
    height: 25%;
    justify-content: flex-start;
}

.user-profile__header__logo-container{
    float: left;
}

.user-profile__header__logo-container_image-picker{
    width: 100%;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.user-profile__header__logo-container_image-picker_img{
    border-radius: 50%;
    height: 10vw;
    width: 10vw;
    min-width: 75px;
    min-height: 75px;
    margin: 0 auto;
    object-fit: cover;
    border: 1px solid;
    @include themify($themes){
        border-color: themed('textColor');
    }

}

.user-profile__header__logo-container_image-picker_span{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    @include themify($themes){
        color: themed('textColor');
    }
}

.user-profile__header__logo-container_image-picker_input{

}

.user-profile__header__decorate-container{
    width: 30%;
    height: 100%;
    font-weight: bold;
    font-size: 4.5vw;
    white-space: nowrap ;
}

.user-profile__header___decorate-container__text-field{

}

.user-profile__header___decorate-container__text-field_span{
    @include themify($themes){
        color: themed('textColor');
    }
}

.user-profile__header___decorate-container__strip{
    width: 33vw;
    height: 0.5rem;
    padding-left: 10%;
    @include themify($themes){
        background-color: themed('mainColor');
    }
}



.user-profile__form-container{
    width: 60%;
    display: flex;
    justify-content: center;
    margin: 0 auto;

}

.user-profile__form-container__form-field{
        min-width: 40%;
        width: 50vh;

}

@media (max-width: 500px) {
    .user-profile__header{
        flex-direction: column-reverse;
    }
}

.user-profile__header__utils{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.switch{
    position: relative;
    display: block;
    width: 90px;
    height: 55px;
    margin-right:20px;
}
.slider{
    position: absolute;
    cursor: pointer;
    top: 0; left: 0; bottom: 0; right: 0;
    background-color: white;
    //border: 1px solid #141414;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    transition: .5s;
}
.slider:before{
    position: absolute;
    content: "";
    //bottom: 14px;
    top: 2.3px;
    left: 2px;
    background: radial-gradient(#FFF76B 0%, #FFF845 30%, #FFDA4E 50%, #FB8933 100%);
    transition: .5s;
}
.switch input{
    display: none;
}
input:checked + .slider{
    background-color: #141414;
    //border: 3px solid white;
}
input:checked + .slider:before{
    transform: translateX(35.5px);
    background: radial-gradient(rgba(255,255,255,0.75) 0%, rgba(127,127,127,0.5) 90%, #000 100%);
    //background: url(http://errazib.com/img/dark_moon.png) no-repeat center;
    //background-size:cover;
}
.slider.round{
    border-radius: 35px;
}
.slider.round:before{
    width: 44px;
    height: 44px;
    border-radius: 50%;
}
