@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300&display=swap');

.user-profile{

    &__header{
        height: 30%;
        width: 100%;
        &__logo-container{
            width: 10rem;
            height: 10rem;
            object-fit: cover;
            text-align: center;
            padding-left: 10%;
            float: left;

            &_image-picker{
                width: 100%;
                height: 100%;
                border-radius: 50%;
                display: block;
                cursor: pointer;
                text-align: center;
                &_img{
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;

                }
                &_span {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    color: black;
                }
            }
        }
    }

    &__form-container{
        font-family: 'Montserrat',SansSerif;
        padding-top: 5%;
        width: 100%;
        height: 50%
    }

    &__decorate-container{
        width: 30%;
        height: 100%;
        margin-left: 35%;
        /*margin-top: 10%;*/
        font-family: Montserrat;
        font-weight: bold;
        font-size: 3rem;
        white-space: nowrap ;

        &__text-field{

        }
        &__strip{
            width:15rem;
            height: 0.5rem;
            padding-left: 10%;
            background-color: #1e768f;

        }
    }

    &__form-container{
        &__form-field{
            font-family: 'Montserrat',SansSerif;
            margin: 0 40%;
            /*bottom: 20%;*/
        }
    }

}

@media (max-width: 700px) {
    .user-profile__form-container__form-field{
       font-family: 'Montserrat',SansSerif;
        margin: 0% 15%;
        padding-top: 15rem;
        bottom: 20%;
    }
}

