/*.formContainer {*/
/*    width: 100%;*/
/*}*/


/*.formField{*/
/*    font-family: 'FuturaBookCTT Normal', arial;*/
/*    width: 25%;*/
/*    margin: 0 auto;*/
/*    padding-bottom: 5%;*/
/*}*/

/*.cafeFormField{*/
/*    font-family: 'FuturaBookCTT Normal', arial;*/
/*    width: 50%;*/
/*    margin: 0 auto;*/
/*    padding-bottom: 5%;*/
/*}*/

.input-field_input {
    background: none;
    color: #000000;
    font-size: 1rem;

    border: none;
    border-bottom: solid 2px #000000;
    width: 100%;
    padding-bottom: 2%;
    padding-top: 5%;

}

.input-field_input:focus, .input-field_input:active {
    outline: none;
}



.input-field__submit {
    font-weight: 500;
    color: white;
    background-color: #1e768f;
    margin-top: 2rem;
    width: 100%;
    height:4rem;
    font-size: 2rem;
}

.input-field__submit:hover {
    cursor: pointer;
}

.input-field__submit:active {
    color: white;
    background: #1e768f;

}

.input-field{

    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
    position: relative;


}



.input-field_label {
    position: absolute;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: rgb(0, 0, 0);
    pointer-events: none;
    -webkit-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s;
    top: -0.5rem;
    font-size: 1rem;
}

