@import '../../../scss/themes.scss';
.staff-card-container{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    min-width: 220px;
    margin: 2% auto;
    z-index: 1;
    cursor: pointer;
    transition: transform 0.25s ease-in-out;
    &:hover{
        transform: scale(1.05);
    }
}

.staff-card-container__user-image-container{
    display: flex;
    justify-content: start;
    padding-bottom: 1.2rem;
}
.staff-card-container__user-image-container__image-square{

    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;


}
.staff-card-container__user-image-container__image-square_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid;
}

.staff-card-container__name-container{
    display: flex;
    flex-direction: column;
    margin-left:  auto;
    margin-right:  auto;
    margin-bottom: 3rem;


}

.staff-card-container__name-container_span{
    font-family: 'Montserrat', SansSerif;
    font-size: 2rem;
    word-wrap: break-word;
}

.staff-card-container__name-container__strip{
    height: 0.5rem;
    width: 25%;
}

.staff-card-container__position-container{
    font-family: 'Montserrat', SansSerif;
    display: flex;
    margin: 0 auto;
}

.staff-card-container__position-container_span{
    font-size: 1.2rem;
    word-wrap: break-word;

}



