<div class="staff-actions-container">

    <div class="staff-actions-container__date">
        <div class="staff-actions-container__date__button-prev">
            <svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M40.6667 17.7917H9.73458L23.9425 3.58375L20.3333 0L0 20.3333L20.3333 40.6667L23.9171 37.0829L9.73458 22.875H40.6667V17.7917Z" fill="black"/>
            </svg>
        </div>
        <div class="staff-actions-container__date__start-date-container">
            <span class="staff-actions-container__date__start-date-container_span">{{d1}}</span>
            <span class="staff-actions-container__date__start-date-container_span">{{m1}}</span>
        </div>
        <div class="staff-actions-container__date__strip">

        </div>
        <div class="staff-actions-container__date__end-date-container">
            <span class="staff-actions-container__date__end-date-container_span">{{d2}}</span>
            <span class="staff-actions-container__date__end-date-container_span">{{m2}}</span>
        </div>
        <div class="staff-actions-container__date__button-next">
            <svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M40.6667 17.7917H9.73458L23.9425 3.58375L20.3333 0L0 20.3333L20.3333 40.6667L23.9171 37.0829L9.73458 22.875H40.6667V17.7917Z" fill="black"/>
            </svg>
        </div>
    </div>

    <div class="staff-actions-container__actions">


    </div>

</div>
