<div class="main">

    <div class="main__input-field">
        <h4 class="main__input-field_h4" >Текущий баланс: {{balance}}</h4>
       <input class="main__input-field_input" type="text" placeholder="Сумма покупки">
    </div>
    <div class="buttonFlex">
        <button class="buttonFlex__plus" >Начислить кешбек</button>
    </div>
</div>



