
<img class="card__header_img" src="{{logoImageSrc}}" />

<div class="card__header__field">

    <div class="logo-text-container">

    <span class="card__header__field_span">{{labelText}}</span>
    </div>

    <div class="header-fields-container">


    </div>
</div>
