<div class="labelContainer">
    <div class="labelField">
        <span>{{text}}</span>
    </div>
    <div class="decorateField">
        <div class="rectField">
            <div class="decorateRect"></div>
        </div>

        <div class="decorateCircle"></div>
    </div>
</div>