<div class="cr-form-container">

    <form class="cr-form-container__card-redactor-form">

        <div class="cr-form-container__card-redactor-form__input-field">
            <input class="cr-form-container__card-redactor-form__input-field_input" type="text" id="headerLabel"/>
            <label class="cr-form-container__card-redactor-form__input-field_label" for="headerLabel">Лого текст</label>
        </div>

        <div class="cr-form-container__card-redactor-form__input-field">
            <input class="cr-form-container__card-redactor-form__input-field_input" type="text" id="headerLabel"/>
            <label class="cr-form-container__card-redactor-form__input-field_label" for="headerLabel">Хедер лейбл</label>
        </div>

        <div class="cr-form-container__card-redactor-form__input-field">
            <input type="text" id="mainLabel"/>
            <label class="cr-form-container__card-redactor-form__input-field_label" for="mainLabel">Основной лейбл</label>
        </div>

        <div class="cr-form-container__card-redactor-form__input-field">
            <input class="cr-form-container__card-redactor-form__input-field_input" type="text" id="secondaryField"/>
            <label class="cr-form-container__card-redactor-form__input-field_label" for="secondaryField">Второстепенное</label>
        </div>

        <div class="cr-form-container__card-redactor-form__input-field">
            <input class="cr-form-container__card-redactor-form__input-field_input" type="text" id="auxiliaryField"/>
            <label class="cr-form-container__card-redactor-form__input-field_label" for="auxiliaryField">Вспомогательное</label>
        </div>

        <input class="cr-form-container__card-redactor-form_input" type="submit" value="Сохранить"/>

    </form>
</div>
