
.cr-form-container{
    font-family: 'FuturaBookCTT Normal', arial;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 5%;
}

.cr-form-container__card-redactor-form{
    font-family: 'FuturaBookCTT Normal', arial;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 5%;
}


.cr-form-container__card-redactor-form__input-field{
    background: none;
    color: #000000;
    margin-bottom: 3rem;
    font-size: 0.75rem;
    border: solid 1px #000000;
    width: 50%;
    padding-top: 1rem;
}

.cr-form-container__card-redactor-form__input-field:focus
, cr-form-container__card-redactor-form__input-field:active {
    outline: none;
}

.cr-form-container__card-redactor-form__input-field[id="logoText"] [id="headerLabel"] [id="mainLabel"] {
    height: 4rem;
}

.cr-form-container__card-redactor-form__input-field[id="secondaryField"] [id="auxiliaryField"] {
    height: 5rem;
}

.cr-form-container__card-redactor-form_input[type="submit"] {
    font-weight: bolder;
    font-size: 1rem;
    color: white;
    background-color: #1e768f;
    margin-top: 2rem;
    height: 100%;
    width: 75%;
}

.cr-form-container__card-redactor-form_input[type="submit"]:hover {
    cursor: pointer;
}

.cr-form-container__card-redactor-form_input[type="submit"]:active {
    color: white;
    background: #1e768f;

}



.cr-form-container__card-redactor-form__input-field_label {
    top: -2rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    left: 0;
    pointer-events: none;
}


