<div class="statistics-component">
    <div class="statistics-component__head">

        <div class="interval">
            <h1 class="interval_h1">Интервал</h1>
            <div class="interval__start-end">
                <div class="statistics-component__head__interval-start">

                </div>

                <div class="statistics-component__head__interval-end">

             </div>
            </div>

        </div>

        <div class="statistics-component__head__selector-cafes">

        </div>

        <div class="statistics-component__head__selector-staff">

        </div>
        <div class="statistics-component__head__one-plot">
            <span class="statistics-component__head__one-plot_span">Общий график</span>
            <label class="container-checkbox">
                <input class="container-checkbox_input" type="checkbox" checked="checked">
                <span class="checkmark"></span>
            </label>
        </div>


<!--        <button class="statistics-component__head_button">Обновить график</button>-->

    </div>
    <div class="statistics-component__graph-container">

    </div>
</div>
