<div class="statistics-component">
    <div class="statistics-component__head">

        <div class="interval">
            <h1 class="interval_h1">Интервал</h1>
            <div class="interval__start-end">
                <div class="statistics-component__head__interval-start">

                </div>

                <div class="statistics-component__head__interval-end">

             </div>
            </div>

        </div>

        <div class="statistics-component__head__selector-cafes">

        </div>

        <div class="statistics-component__head__selector-staff">

        </div>
<!--        <div class="statistics-component__head__one-plot">-->
<!--            <span class="statistics-component__head__one-plot_span">Общий график</span>-->

<!--            <input class="container-checkbox_input" type="checkbox" id="cbx">-->
<!--            <label for="cbx" class="elastic-cbx">-->
<!--                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--                    <path id="cb" d="M16 1H4C2.34315 1 1 2.34315 1 4V16C1 17.6569 2.34315 19 4 19H10H16C17.6569 19 19 17.6569 19 16V4C19 2.34315 17.6569 1 16 1Z"/>-->
<!--                    <path id="cm" d="M6 11.7143L9.5 14L14 6"/>-->
<!--                </svg>-->
<!--            </label>-->
<!--        </div>-->


<!--        <button class="statistics-component__head_button">Обновить график</button>-->

    </div>
    <div class="statistics-component__graph-container">
        <div class="statistics-component__graph-container__with-scroll">

        </div>
    </div>
</div>
