<div class="statistics-component">
    <div class="statistics-component__head">

        <div class="statistics-component__head__interval-start">

        </div>
        <div class="statistics-component__head__interval-end">

        </div>

        <div class="statistics-component__head__selector-cafes">

        </div>

        <div class="statistics-component__head__selector-staff">

        </div>

    </div>
    <div class="statistics-component__graph-container">

    </div>
</div>
