
@import '../../scss/themes.scss';

.card-form__input-header-field,
.card-form__input-primary-field,
.card-form__input-secondary-field,
.card-form__input-auxiliary-field{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.5rem;
    margin-right: 0.5rem ;
    margin-left: 0.5rem ;
}

.HeaderFieldsContainer,
.PrimaryFieldsContainer,
.SecondaryFieldsContainer,
.AuxiliaryFieldsContainer{
    display:flex;
    flex-direction: column;
    max-width: 100%;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    -webkit-filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.25));
    filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.25));


}


.HeaderFieldsContainer, .PrimaryFieldsContainer{
    width: available;
    width: -moz-available;
}

.card-form__buttons{
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;

    -webkit-appearance: none;
    &__save{
        opacity: 75%;
        margin: 10px auto;
        width: 100%;
        height: 50px;
        font-size: 1.5rem;
        cursor: pointer;
        border:none;
        &:hover{
            filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.25));
        }

    }

    &__publish{
        font-size: 1.5rem;
        cursor: pointer;
        margin: 10px auto;
        width: 100%;
        height: 50px;
        border:none;

        &:hover{
            filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.25));
        }
    }
}

.card-top{
    display: flex;
}


