
@import '../../scss/themes.scss';

.card-form__input-header-field,
.card-form__input-primary-field,
.card-form__input-secondary-field,
.card-form__input-auxiliary-field{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.5rem;
    margin-right: 0.5rem ;
    margin-left: 0.5rem ;
}

.card-form__input-primary-field > .labelField_label{
    order: 2
}
.card-form__input-primary-field > .valueField {
    order: 1
}
.card-form__input-primary-field > .valueField_label{
    order: 0
}
.card-form__input-primary-field > .labelField {
    order: 3
}

 .card-form__input-primary-field > .field-button {
     order: 4
 }

.HeaderFieldsContainer,
.PrimaryFieldsContainer,
.SecondaryFieldsContainer,
.AuxiliaryFieldsContainer{
    display:flex;
    flex-direction: column;
    max-width: 100%;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    -webkit-filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.25));
    filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.25));


}


.HeaderFieldsContainer, .PrimaryFieldsContainer{
    width: available;
    width: -moz-available;
}


