
    <div class="HeaderFieldsContainer" id="header-field">
        <h4 class="nameField_h4">Верхняя область</h4>
        {{#each headerFields}}
            <div class="card-form__input-header-field" id="{{id}}">
            </div>
        {{/each}}
    </div>

    <div class="PrimaryFieldsContainer" id="primary-field">
        <h4 class="nameField_h4">Главная область</h4>

        {{#each primaryFields}}
            <div class="card-form__input-primary-field" id="{{id}}">
            </div>
        {{/each}}
    </div>



<div class="SecondaryFieldsContainer">
    <h4 class="nameField_h4">Вспомогательная область</h4>
    {{#each secondaryFields}}
        <div class="card-form__input-secondary-field" id="{{id}}">
        </div>
    {{/each}}
</div>






