.card-form__input-header-field,
.card-form__input-primary-field,
.card-form__input-secondary-field,
.card-form__input-auxiliary-field{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.5rem;
    margin-right: 0.5rem ;
    margin-left: 0.5rem ;
}

.HeaderFieldsContainer,
.PrimaryFieldsContainer,
.SecondaryFieldsContainer,
.AuxiliaryFieldsContainer{
    display:flex;
    flex-direction: column;
    max-width: 100%;
    /*margin-right: 1rem ;*/
    /*margin-left: 1rem ;*/
    margin-bottom: 2rem;

    border-radius: 0.5rem;
    color: #000;
    background: #fff;
    -webkit-filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.25));
    filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.25));


}


.HeaderFieldsContainer, .PrimaryFieldsContainer{
    width: -moz-available;
}
/*.HeaderFieldsContainer{*/
/*    max-width: 40%;*/
/*}*/
.card-form__buttons{
    display: flex;
}
.card-form__buttons__save{
    border-radius: 0.5rem;
    border-width: 0;
    width: 50%;
    color: white;
    background-color: #1e768f;
    opacity: 75%;
    margin: 1rem;
    height: 4rem;
    font-size: 1.5rem;

}
.card-form__buttons__save:hover{

}

.card-form__buttons__publish{
    border-radius: 0.5rem;
    border-width: 0;
    width: 50%;
    color: white;
    background-color: #1e768f;
    margin: 1rem;
    font-size: 1.5rem;
    height: 4rem;
}
.card-form__buttons__publish:hover{

}


.card-top{
    display: flex;
}


