<div class="card__header__fields__primary">
    <span class="card__header__fields__primary_spanValue">{{valueText}}</span>
    <span class="card__header__fields__primary_spanLabel">{{labelText}}</span>
</div>
