<div class="discount-cell">
    <form class="discount-cell__form">

    <div class="discount-cell__form__discount">
        <input class="discount-cell__form__discount_input" type="text" placeholder="20%" value={{discount}}>
    </div>

    <div class="discount-cell__form__type">


    </div>
    <div class="discount-cell__form__price">
        <input class="discount-cell__form__price_input" type="text" placeholder="1000" value={{price}}>
    </div>

    </form>

</div>
