<div class="discount-cell">
    <form class="discount-cell__form">

    <div class="discount-cell__form__discount">
        <input class="discount-cell__form__discount_input" type="text" placeholder="20%" value={{discount}}>
    </div>

    <div class="discount-cell__form__type">

        <label for="select" class="select">
            <input class="inpt" type="radio" name="list" value="not_changed" id="select">

            <div class="items">

                <input class="inpt" type="radio" name="list" value="first_value" id="list[0]">
                <label for="list[0]">Посетил</label>

                <input class="inpt" type="radio" name="list" value="second_value" id="list[1]">
                <label for="list[1]">Потратил</label>

                <span id="text">Тип</span>
            </div>
        </label>


    </div>
    <div class="discount-cell__form__price">
        <input class="discount-cell__form__price_input" type="text" placeholder="1000" value={{price}}>
    </div>

    </form>

</div>
