.discount-cell{
  border: 2px solid #000000;
  font-family: Montserrat, sans-serif;
  margin: 10px;
  &__form{
    width: 100%;
    display: flex;
    &__discount{
      width: 30%;
      &_input{
        font-weight: bolder;
        font-size: 2rem;
        border: none;
        height: 95%;
        width: 100%;
        color: #fa9917;
      }

    }
    &__type{
      width: 40%;
    }

    &__price{
      width: 30%;
      &_input{
        font-weight: bolder;
        font-size: 1.5rem;
        border: none;
        height: 95%;
        width: 90%;
        color: black;
      }
    }

  }
}
.inpt
{
  display: none;
}

#text
{
  position: absolute;
  display: block;
  top: 0;
  width: 100%;
}

.select
{
  display: inline-block;
  width: 160px;
  height: 34px;
  line-height: 30px;
  position: relative;
}

.select:before
{
  content: ">";
  font-size: 1.5rem;
  display: inline-block;
  background: white;
  color: #fa9917;
  position: absolute;
  top: 3px;
  right: 0;
  z-index: 2;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  transform: rotate(90deg);
  cursor: pointer;
}



.inpt:not(:checked) ~ #text
{
  color: black;
  background: white;
}

.inpt:checked ~ #text
{
  background: transparent;
  color: transparent;
  z-index: 2;
}

#select:disabled ~ .items #text
{
  background: #eee;
}

.items
{
  display: block;
  min-height: 30px;
  //position: absolute;

  border: 2px solid black;

  overflow: hidden;//mb
  width: 160px;
  cursor: pointer;
}

#select:not(:checked) ~ .items
{
  height: 39px;
}

.items label
{
  border-top: 2px solid #000000;
  display: none;
  background: white;
}

.items label:hover
{
  background: #eee;
  cursor: pointer;
}

#select:checked ~ .items
{
  padding-top: 30px;
}

#select:checked ~ .items label
{
  display: block;
}

.items input:checked + label
{
  display: block!important;
  border: none;
  background: white;
}


