.discount-cell{
  border: 2px solid #000000;
  font-family: Montserrat, sans-serif;
  margin: 10px 0;
  overflow: hidden;
  &__form{
    width: 100%;
    display: flex;
    justify-content: space-around;
    &_span{
      font-size: 2rem;
      height: 95%;
    }
    &__discount{
      width: 4rem;
      &_input{
        font-weight: bolder;
        font-size: 2rem;
        border: none;
        height: 95%;
        width: 100%;
        color: #fa9917;
        background: none;
      }

    }
    &__type{
      width: auto;
    }

    &__price{
      width: 5rem;
      &_input{
        font-weight: bolder;
        font-size: 1.5rem;
        border: none;
        height: 95%;
        width: 100%;
        color: black;
        background: none;

      }
    }

  }
}
