<div id ="{{id}}" class="cardContainer">
    <div class="cafeContainer">
        <div class="topLeftPart">
            <img src="{{cafeImageSrc}}" alt="">
        </div>

        <div class="bottomRightPart">
            <div class="textField">
                <h4>{{name}}</h4>
            </div>
        </div>
    </div>
</div>
