<div class="cardContainer">
    <div class="cafeContainer">
        <div class="topLeftPart">
            <img src="{{cafeImageSrc}}">
        </div>

        <div class="bottomRightPart">
            <div class="textField">
                <h4>{{cafeName}}</h4>
            </div>
        </div>
    </div>
</div>
