.cafe-card-container{
    width: 30rem;
    height: 20rem;
    padding: 0;
    position: relative;
    background-color: #ffffff;
    min-height: max-content;
    min-width: max-content;
    margin-bottom: 5rem;
    max-height: 425px;
    max-width: 630px;
    font-size: 2.5rem;
}
.cafe-card-container__image-container{
    width: 100%;
    height: auto;
}
.cafe-card-container__image-container_img{
    float: left;
    position: absolute;
    width: 80%;
    height: auto;
    left: 0;
    top: 0;
}
.cafe-card-container__name-container{
    float: right;
    background-color: #A32704;
    width: 60%;
    min-height: 50%;
    height: auto;
    bottom: 0;
    right: 0;
    top: 50%;
    position: absolute;
}
.cafe-card-container__name-container__text-field_h4{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: Montserrat;
    color: white;
    transform: translate(-50%, -50%);

}


