<div id="c{{id}}" class="cafe-card-container">
    <div class="cafe-card-container__image-container">
        <img class="cafe-card-container__image-container_img" src="{{cafeImageSrc}}" alt="">
    </div>

    <div class="cafe-card-container__name-container">
        <div class="cafe-card-container__name-container__strip"></div>
        <div class="cafe-card-container__name-container__text-field">

            <h4 class="cafe-card-container__name-container__text-field_h4">{{name}}</h4>


        </div>
    </div>
</div>
