<div class="small-form-cell">


    <div class="small-form-cell__question">
        <h4 class="small-form-cell__question_h4">{{question}}</h4>
        {{#unless listType }}
        <input class="small-form-cell__question_input" id="input-{{cell_id}}" type="text">
        {{/unless}}
    </div>

    {{#if listType }}
    <div class="small-form-cell__answer-options">

    </div>
    {{/if}}

    {{#if redactor }}
    <div class="small-form-cell__save" id="cell-save-{{cell_id}}">
    </div>
    {{/if}}


</div>

