<div class="small-form-cell" id="small-cell-{{cell_id}}">


    <div class="small-form-cell__question">
        <span class="small-form-cell__question_span">{{question}}</span>
        {{#unless listType }}
        <input class="small-form-cell__question_input" id="input-{{cell_id}}" type="text">
        {{/unless}}
    </div>

    <div class="small-form-cell__answer-options">

    </div>

</div>

