.big-form-cell{
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
  border-radius: 15px 15px 15px 15px;
  height:100%;
  width:90%;
  margin: 20px auto;
  font-family: Montserrat, sans-serif;

  &__question{
    display: flex;
    flex-direction: column;

      &_h4{
        margin-left:20px;
        font-size: 2rem;
        color: black;

      }
    &_input{
      border: 2px solid black;
      width: auto;
      font-size: 2rem;
      margin:0 20px;
    }
  }
  &__answer-type{
    display: flex;
    flex-direction: column;
    &_h4{
      margin-left:20px;
      font-size: 2rem;
      color: black;
    }
    &__types{
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin-left: 15px;
      &__type{
        cursor: pointer;
        //width: 10vw;
        height: 50px;
        background-color: rgba(28, 118, 143, 0.55);
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 5px;
        box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15);
        &:hover{
          box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
        }
        &-active{
          cursor: pointer;
          //width: 10vw;
          height: 50px;
          background-color:#1C768F;
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin: 5px;
          box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15);
          &:hover{
            box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
          }
          &_span{
            margin: 0 5px;
            color: white;
            font-size: 1rem;
            white-space: nowrap;
          }
        }
        &_span{
          margin: 0 5px;
          color: white;
          font-size: 1rem;
          white-space: nowrap;
        }

      }
    }

  }

  &__answer-options{
    display: flex;
    flex-direction: column;
    &_h4{
      margin-left:20px;
      font-size: 2rem;
      color: black;
    }
    &__options{
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      &_add-button{
        cursor: pointer;
        height: 50px;
        background-color: #1C768F;
        transition: background-color 1s ease;
        &:active {
          background-color: #fa9917;
          transition: background-color 0s ease;
        }
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 10px;
        box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15);
        &:hover{
          box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
        }
        &_span{
          margin: 0 5px;
          color: white;
          font-size: 1rem;

        }
      }

      &__list{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;

        &__cell{
          display: flex;
          margin: 10px 20px;
          height: 50px;
          &_input{
            border-top: 2px solid black;
            border-left: 2px solid black;
            border-right: none;
            border-bottom: 2px solid black;
            min-width: 75px;
            font-size: 1rem;
          }
          &__button{
            border-top: 2px solid black;
            border-left: none;
            border-right: 2px solid black;
            border-bottom: 2px solid black;
            width:40px;
            cursor: pointer;
            background-color: #EE6161;
            &_svg{
              margin: 25%;
            }
          }
        }
      }
    }

  }
  &__delete{
    position: relative;
    width: 45px;
    height: 45px;
    margin-left: auto;
    background: #EE6161;
    border-radius:  0px 15px;
    &_svg{
      margin: 24%;
    }
  }
  &__save{
    position: relative;
    width: 45px;
    height: 45px;
    margin-left: auto;
    background: #1C768F;
    border-radius:  15px 0px ;
    &_svg{
      margin: 24%;
    }
  }
}

.small-form-cell {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
  border-radius: 15px 15px 15px 15px;
  height: 100%;
  width: 30%;
  min-width: 300px;
  min-height: 100px;
  margin: 20px auto;
  font-family: Montserrat, sans-serif;

  &__question{
    display: flex;
    flex-direction: column;
    margin: 10px;
    &_span{
      overflow-wrap: break-word;
      font-size: 1.3rem;
    }
    &_input{
      border: 2px solid black;
      margin-top: 10px;
      //width:100%;
      font-size: 1.3rem;
      overflow: scroll;
    }
  }

  &__answer-options{

    &__list{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      &__cell{
        display: flex;
        justify-content: center;
        margin: 10px auto;
        width: 100%;
        height: 100%;
        &__button{
          border: 2px solid #1e7e98;
          border-radius: 5px;
          height: 20px;
          width: 20px;
          margin: auto 5px;
        }
        &__button-active{
          border: 2px solid #1e7e98;
          border-radius: 5px;
          height: 20px;
          width: 20px;
          margin: auto 5px;
          background-color: #1C768F;
          opacity: 0.9;
        }

        &__text-field{
          display: flex;
          flex-direction: column;
          width:80%;
          background-color: #1C768F;
          opacity: 0.5;
          &_span{
            margin: auto;
            font-size: 1.2rem;
            color: white;
          }
        }
        &__text-field-active{
          display: flex;
          flex-direction: column;
          width:80%;
          background-color: #1C768F;
          opacity: 1;
          &_span{
            margin: auto;
            font-size: 1.2rem;
            color: white;
          }
        }
      }
    }
  }


}
