<div class="card">
    <div class="card__header">

        <img class="card__header_img" src="{{logoImageSrc}}" />

        <div class="card__header__field">
            <span class="card__header__field_span">{{headerTitle}}</span>
        </div>

    </div>

    <div class="card__strip">
        <img class="card__strip_img" src="{{stripImageSrc}}"/>
    </div>

    <div class="card__header__fields">

        <div class="card__header__fields__secondary">
            <span class="card__header__fields__secondary_span">Title</span>
            <span class="card__header__fields__secondary_span">Label</span>
        </div>

    </div>

    <footer class="card__footer">
        <div class="card__footer__qr-container">
            <img class="card__footer__qr-container_img" src="qrCode.png"/>
        </div>


    </footer>

</div>
