<div class="card-with-submit">
<div class="card">
    <div class="card__header">

    </div>

    <div class="card__strip">

        <div class="card__strip__fields">

        </div>
    </div>

    <div class="card__header__fields">

    </div>

    <footer class="card__footer">
        <div class="card__footer__qr-container">
            <img class="card__footer__qr-container_img" src="{{qrCodeImageSrc}}"/>
        </div>

    </footer>

</div>
    <div class="card-form__buttons">
        <div class="tooltip">
            <span class="tooltiptext">
                Карта будет доступна только вам.
            </span>
        <button class="card-form__buttons__save" type="submit">Сохранить</button>
        </div>
        <div class="tooltip">
            <span class="tooltiptext">
                Карта будет доступна всем.
            </span>
        <button class="card-form__buttons__publish" type="submit">Опубликовать</button>
        </div>
    </div>

</div>
