<div class="card">
    <div class="card__header">

    </div>

    <div class="card__strip">
        <div class="card__strip__fields">

        </div>
    </div>

    <div class="card__header__fields">

    </div>

    <footer class="card__footer">
        <div class="card__footer__qr-container">
            <img class="card__footer__qr-container_img" src="{{qrCodeImageSrc}}"/>
        </div>

    </footer>

</div>
