<div class="card-with-submit">
<div class="card">
    <div class="card__header">

    </div>

    <div class="card__strip">

        <div class="card__strip__fields">

        </div>
    </div>

    <div class="card__header__fields">

    </div>

    <footer class="card__footer">
        <div class="card__footer__qr-container">
            <img class="card__footer__qr-container_img" src="{{qrCodeImageSrc}}"/>
        </div>

    </footer>

</div>

<input class="card-form__submit" type="submit" value="Опубликовать">

</div>
