<div class="UserProfileHeader">

    <div class="UserProfileLogoField">
        <label class="userProfileImagePicker">
            <img id="image" src={{imgSrc}}/>
            <span class="titleUserProfileImagePicker">Выберите изображение</span>
            <input id="upload" type="file">
        </label>
    </div>


</div>

<div class="UserProfileDecorate">
    <div class="myProfileLabelDecorate">
        <span>Мой профиль</span>
    </div>
    <div class="strip"></div>
</div>

<div class="UserProfileForm">
    <form class="formField"></form>
</div>

