<div class="UserProfileHeader">
    <div class="UserProfileLogoField">
        <img id="image" src={{imgSrc}}>
        <input id="upload" type="file">
    </div>

</div>

<div class="UserProfileDecorate">
    <div class="myProfileLabelDecorate">
        <span>Мой профиль</span>
    </div>
    <div class="strip"></div>
</div>

<div class="UserProfileForm">
    <form class="formField"></form>
</div>


</body>
</html>