<div class="authorize">
    <div class="authorize__top">
        <div class="authorize__top__text-with-strip">
            <h1 class="authorize__top__text-with-strip_h1">{{topText}}</h1>
            <div class="authorize__top__text-with-strip__strip"></div>
        </div>
    </div>
    <div class="authorize__form-container">

        <form class="authorize__form-container__form" method="post">

        </form>

    </div>
</div>
