<div class="page-not-found">
    <div class="page-not-found__error-code">
        <span class="page-not-found__error-code_span" >{{code}}</span>
    </div>
    <div class="page-not-found__error-description">
        <span class="page-not-found__error-description_span" >{{description}}</span>
    </div>
</div>
