<div class="decorateContainer">
    <div class="labelContainer">
        <div class="labelField">
            <span>{{caffeName}}</span>
        </div>
    </div>
</div>

<div class="newCafeImageContainer">
    <div class="photoContainer">
        <div class="addPhoto">
            <img id="image" src={{imgSrc}}>
        </div>
        <input id="upload" type="file">
    </div>

    <div class="formContainer">
        <form class="cafeFormField"></form>
    </div>
</div>