/*Декоратор*/


.new-cafe-page__decorate-container {
    width: 100%;
    margin-left: 20%;
}

.new-cafe-page__decorate-container__text-field {
    width: 60%;
    height: 50%;
    padding-top: 5%;
}

.new-cafe-page__decorate-container__text-field__label-field{
    display: inline-block;
    vertical-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    overflow: auto;
    margin: auto;
    top: 0;
    left: 2rem;
    bottom: 0;
    right: 2rem;
    width: 100%;
}

.new-cafe-page__decorate-container__text-field__label-field-span{
    width: 100%;
    height: 100%;
    font-family: 'FuturaDemiCTT Normal', arial;
    font-style: normal;
    font-size: 3rem;
}


/*Форма*/

.new-cafe-page__outer__sub__form-container {
    width: 100%;
}

.new-cafe-page__outer__sub__form-container__form-field {
    font-family: 'FuturaBookCTT Normal', arial;
    width: 50%;
    /*margin: 0 0 0 25%;*/
    padding-bottom: 5%;
    float: left;
}

input {
    background: none;
    color: #000000;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 1rem;

}

input:focus, input:active {
    outline: none;
}

@media only screen and (max-width: 680px) {

    .cafeFormField {
        width: 75%;
    }

    input {
        padding-top: 10%;
        padding-bottom: 10%;
    }


}

/*контейнер с фоткой кафе*/
.new-cafe-page__outer__sub__image-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
    margin-left: 25%;

}

.new-cafe-page__outer__sub__image-container__photo-container {
    text-align: center;
    padding-right: 20%;

}

.new-cafe-page__outer__sub__image-container__photo-container__image-picker_img{
    width: 100%;
    display: block;
    object-fit: cover;
    max-width: 800px;
    max-height:300px;
}

.new-cafe-page__outer__sub__image-container__photo-container__image-picker_input {
    display: block;
    font-family: 'FuturaBookCTT Normal', arial, serif;
}

@media only screen and (max-width: 680px) {
    .new-cafe-page__outer__sub__image-container {
        display: table;
        justify-content: space-between;
        padding-bottom: 2rem;
    }

}

.new-cafe-page__outer__sub {
    float: left;
    justify-content: space-between;
    height: 50%;
    width: 50%;
}



input[type=file] {
    outline: 0;
    opacity: 0;
    pointer-events: none;
    user-select: none;
}


.new-cafe-page__outer__sub__image-container__photo-container__image-picker {
    width: 100%;
    border-radius: 5px;
    display: block;
    transition: border 300ms ease;
    cursor: pointer;
    text-align: center;

}
.new-cafe-page__outer__sub__image-container__photo-container__image-picker_span {
    color: black;
}
