
<div class="decorateContainer">
    <div class="labelContainer">
        <div class="labelField">
            <span>{{cafeName}}</span>
        </div>
    </div>
</div>
<div class="subcontent-outer">
    <div class="subcontent">
        <div class="newCafeImageContainer">
            <div class="photoContainer">
                <div class="addPhoto">
                    <label class="imagePicker">
                        <img id="image" src={{imgSrc}} alt="">
                        <span class="titleImagePicker">Выберите изображение</span>
                        <input id="upload" type="file" />
                    </label>
                </div>



            </div>
        </div>
    </div>
    <div class="subcontent">
        <div class="formContainer">
            <form class="cafeFormField"></form>
        </div>
    </div>

</div>
