/*Хедер*/
.header {
    overflow: hidden;
    background-color: #ffffff;
    padding: 20px 10px;
    height: 7rem;
    width: 100%;
    float: right;
    z-index: 3;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 2rem;
    text-decoration: none;
    font-size: 1.5rem;
    line-height: 1.5rem;
    background-color: white;
}

.header > img {
    height: 100%;
    overflow: auto;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.header-right {
    height: 100%;
    float: right;
    text-align: center;
    padding: 0 2rem 0 0;
    /*display: inline-block;*/
    /*vertical-align: middle;*/

    display: inline-flex;
    justify-content: space-between;
}

.header .loginField {
    height: 100%;
    display: inline-flex;
    justify-content: space-between;
}

.header ul {
    margin: 0;
    padding-top: 0;
    padding-right: 0;
    z-index: 3;
    list-style: none;
    overflow: hidden;
    height: 200%;
    background-color: #fff;
    float: right;
    font-family: Montserrat;

}

.header li a {
    display: block;
    padding: 0 0.5rem;
    text-decoration: none;

}

.header li a:hover,
.header .menu-btn:hover {
    background-color: #f4f4f4;
}

/* menu */

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */
.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

.loginField > img {
    height: 65%;
    overflow: auto;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@media (min-width: 850px) {
    .header li {
        float: right;
    }

    .header li a {
        padding: 20px 30px;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }

}

/*Декоратор*/

.labelField {
    display: inline-block;
    vertical-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    overflow: auto;
    margin: auto;
    top: 0;
    left: 2rem;
    bottom: 0;
    right: 2rem;
    width: 100%;
}

.decorateContainer {
    width: 100%;
    margin-top: -2rem;
}

.labelContainer {
    width: 60%;
    height: 50%;
    padding-left: 10%;
    padding-top: 5%;
}

.labelField span {
    width: 100%;
    height: 100%;
    font-family: 'FuturaDemiCTT Normal', arial;
    font-style: normal;
    font-size: 3rem;
}


/*Форма*/

.formContainer {
    width: 100%;
}

.cafeFormField {
    font-family: 'FuturaBookCTT Normal', arial;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 5%;
}

input {
    background: none;
    color: #000000;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 1rem;

}

input:focus, input:active {
    outline: none;
}

input[type="text"], input[type="email"], input[type="password"] {
    border: none;
    border-bottom: solid 2px #000000;
    width: 100%;

}

input[type="submit"] {
    font-weight: 500;
    color: white;
    background-color: #A32704;
    margin-top: 2rem;
    width: 100%;
}

input[type="submit"]:hover {
    cursor: pointer;
}

input[type="submit"]:active {
    color: white;
    background: #A32704;

}

.InputField {

    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.InputField input {
    padding-top: 2%;
}

.InputField label {
    position: absolute;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: rgb(0, 0, 0);
    pointer-events: none;
    -webkit-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s;
    top: -0.5rem;
    font-size: 1rem;
}


@media only screen and (max-width: 680px) {

    .cafeFormField {
        width: 75%;
    }

    input {
        padding-top: 10%;
        padding-bottom: 10%;
    }


}

/*контейнер с фоткой кафе*/
.newCafeImageContainer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;

}

.photoContainer {
    text-align: center;
    padding-right: 20%;

}

.photoContainer img {
    width: 100%;
    display: block;
    object-fit: cover;
    max-width: 800px;
    max-height:300px;
}

.photoContainer input {
    display: block;
    font-family: 'FuturaBookCTT Normal', arial, serif;
}

@media only screen and (max-width: 680px) {
    .newCafeImageContainer {
        display: table;
        justify-content: space-between;
        padding-bottom: 2rem;
    }

}

.subcontent-outer, .subcontent {
    float: left;
    justify-content: space-between;
}

.subcontent {
    height: 50%;
    width: 50%;
}

input[type=file] {
    outline: 0;
    opacity: 0;
    pointer-events: none;
    user-select: none;
}


.imagePicker {
    width: 100%;
    border-radius: 5px;
    display: block;
    transition: border 300ms ease;
    cursor: pointer;
    text-align: center;

}
.titleImagePicker {
    color: black;
}
