<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="AuthorizeComponent.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="authorize">
    <div class="authorize__top">
        <div class="authorize__top__text-with-strip">
            <h1 class="authorize__top__text-with-strip_h1">{{topText}}</h1>
            <div class="authorize__top__text-with-strip__strip"></div>
        </div>
    </div>
    <div class="authorize__form-container">

        <form class="authorize__form-container__form" method="post">
            <div class="authorize__form-container__form__input-field">
                <input class="authorize__form-container__form__input-field_input" type="text" id="full-name" required/>
                <label class="authorize__form-container__form__input-field_label" for="full-name">{{name}}</label>
            </div>

            <div class="authorize__form-container__form__input-field">
                <input class="authorize__form-container__form__input-field_input" type="email" id="email" required/>
                <label class="authorize__form-container__form__input-field_label" for="email">{{email}}</label>
            </div>

            <div class="authorize__form-container__form__input-field">
                <input class="authorize__form-container__form__input-field_input" type="password" id="password" required/>
                <label class="authorize__form-container__form__input-field_label" for="password">{{password}}</label>
            </div>

            <div class="authorize__form-container__form__input-field">
                <input class="authorize__form-container__form__input-field_input" type="password" id="re-password" required/>
                <label class="authorize__form-container__form__input-field_label" for="re-password">{{repeatedPassword}}</label>
            </div>
            <div class="authorize__form-container__form__have-account">
                <label class="authorize__form-container__form__have-account__ha">{{textRedirect}} </label>
                <a href="{{href}}" class="authorize__form-container__form__have-account__href">{{href-text}}</a>
            </div>
            <input class="authorize__form-container__form__submit" type="submit" value="Готово"/>
        </form>

    </div>
</div>

</body>
</html>
