<div class="staff-actions-container__actions__action__date__cell">
    <span class="staff-actions-container__actions__action__date__cell__text" >{{action}}</span>
    <div class="staff-actions-container__actions__action__date__cell__strip"></div>
    <span class="staff-actions-container__actions__action__date__cell__time">{{time}}</span>
</div>
