<div class="card__header__fields__secondary">
    <span class="card__header__fields__secondary_spanLabel">{{labelText}}</span>
    <span class="card__header__fields__secondary_spanValue">{{valueText}}</span>
</div>
