<div class="card__header__fields__secondary">
    <span class="card__header__fields__secondary_spanLabel">{{label}}</span>
    <span class="card__header__fields__secondary_spanValue">{{value}}</span>
</div>
