.all-cafes-container__row_left-column {
    float: left;
    width: 50%;
}

.all-cafes-container__row_right-column {
    padding-top: 8rem;
    float: left;
    width: 50%;
}

all-cafes-container__row:after {
    content: "";
    display: table;
    clear: both;

}

.all-cafes-container{
    padding-right: auto;
    padding-left: 15%;
    padding-top: 10%;

}

@media(max-width: 1250px){
    .all-cafes-container{
        padding-right: 100%;
        padding-left:  25%;
    }
    .all-cafes-container__row{
        padding-top: 10rem;
    }

    .all-cafes-container__row_right-column {
        padding-top: 22rem;
        float: right;
        width: 50%;
        right:50%
    }

}

