<div class="myCafesContainer">
    <div class="row">
        <div class="columnLeft">
            {{#each firstCol}}
                {{{this}}}
            {{/each}}
        </div>
        <div class="columnRight">
            {{#each secCol}}
                {{{this}}}
            {{/each}}
        </div>
    </div>
</div>
</div>
