<div class="cafes-page">
<div class="cafes-page__all-cafes-container">

    {{#each cafes}}
        {{{this}}}
    {{/each}}

</div>

<div class="cafes-page__add-cafe-field">

    <div class="cafes-page__add-cafe-field__text-field">
        <span class="cafes-page__add-cafe-field__text-field_span"></span>
    </div>
    <div class="cafes-page__add-cafe-field__text-strip">
    </div>
    <div class="cafes-page__add-cafe-field__add-button">
    </div>

</div>

</div>
