<div class="cafes-page">
<div class="cafes-page__all-cafes-container">

    {{#each cafes}}
        {{{this}}}
    {{/each}}
    <div class="cafes-page__all-cafes-container__add-button">
        <img class="cafes-page__all-cafes-container__add-button_img" src="images/plus.svg" >
    </div>

</div>


</div>
