@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300&display=swap');
@import '../../scss/themes.scss';

.cafes-page{
    font-family: 'Montserrat',SansSerif;
    display: flex;
    flex-direction: column;

    &__all-cafes-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    &__add-cafe-field{
        float: right;
        width:100%;
        height:200px;
        margin: 1rem 0 1rem auto;
        padding-bottom: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__text-field{
            align-self: flex-end;
            margin-right: 20vw;

            &_span{
                font-size: 2rem;
                width:40%;
            }
        }
        &__text-strip{
            width: 50%;
            min-width: 220px;
            height:0.5em;
            align-self: flex-end;

            @include themify($themes) {
                background-color: themed('accentColor');
            }
        }

        &__add-button{
            width: 18vw;
            height: 9vw;
            min-width: 120px;
            min-height: 60px;
            max-width: 360px;
            max-height: 180px;

            border-radius: 50% 50% 0 0 / 100% 100% 0 0;
            transform: rotate(180deg);
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
            margin-right: 24vw;
            align-self: flex-end;
            cursor: pointer;

            background-image: url(/images/plus.svg);
            background-size: cover;
            background-position-y: center;

            @include themify($themes) {
                background-color: themed('addButtonColor');
            }

            &:hover{
                box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
            }
        }
    }
    &__no-cafes-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 100%;
        padding-bottom: 20%;

        &__text-field{
            display: flex;
            justify-content: center;
            height: 80%;
            width: 100%;

            &_span{
                font-family: FuturaDemiCTT Normal, Arial;
                font-size: 6vw;

            }
        }
    }

}


@media(max-width: 1250px){




    //.cafes-page__add-cafe-field__text-strip{
    //    width: 70%;
    //}
    //.cafes-page__add-cafe-field__add-button{
    //
    //    width: 20vw;
    //    height: 10vw;
    //}


}
