<div class="all-cafes-container">
    <div class="all-cafes-container__row">
        <div class="all-cafes-container__row_left-column">
            {{#each firstCol}}
                {{{this}}}
            {{/each}}
        </div>
        <div class="all-cafes-container__row_right-column">
            {{#each secCol}}
                {{{this}}}
            {{/each}}
        </div>
    </div>
</div>
</div>
