.cafes-page{

}
.cafes-page__all-cafes-container__row_left-column {
    float: left;
    width: 50%;
}

.cafes-page__all-cafes-container__row_right-column {
    padding-top: 8rem;
    float: left;
    width: 50%;
}

.cafes-page__all-cafes-container__row:after {
    content: "";
    display: table;
    clear: both;

}

.cafes-page__all-cafes-container{
    /*padding-right: auto;*/
    padding-left: 15%;
    /*padding-top: 10%;*/

}



@media(max-width: 1250px){
    .cafes-page__all-cafes-container{
        padding-right: 100%;
        padding-left:  25%;
    }
    .cafes-page__all-cafes-container__row{
        padding-top: 10rem;
    }

    .cafes-page__all-cafes-container__row_right-column {
        padding-top: 22rem;
        float: right;
        width: 50%;
        right:50%
    }

    .cafes-page__add-cafe-field{
        width:100%;
        height:200px;
        margin: 1rem 0 1rem auto;
        padding-bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .cafes-page__add-cafe-field__text-strip{
        width:40em;
        height:0.5em;
        background-color: #fa9917;
        align-self: flex-end;

    }
    .cafes-page__add-cafe-field__text-field_span{
        font-family: "FuturaBookCTT Normal", serif;
        width:40%;
    }


    .cafes-page__add-cafe-field__add-button{
        width: 14em;
        height: 7em;
        background-color: #ffffff;
        border-radius: 50% 50% 0 0 / 100% 100% 0 0;
        transform: rotate(180deg);
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
        margin-right: 25em;
        align-self: flex-end;
    }


}

.cafes-page__add-cafe-field{
    float: right;
    width:100%;
    height:200px;
    margin: 1rem 0 1rem auto;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.cafes-page__add-cafe-field__text-field{
    align-self: flex-end;
    margin-right: 25em;
}

.cafes-page__add-cafe-field__text-field_span{
    font-family: Montserrat;
    font-size: 2rem;
    width:40%;
}


.cafes-page__add-cafe-field__text-strip{
    width:40em;
    height:0.5em;
    background-color: #fa9917;
    align-self: flex-end;
}





.cafes-page__add-cafe-field__add-button{
    width: 14em;
    height: 7em;
    background-color: #ffffff;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    transform: rotate(180deg);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    margin-right: 25em;
    align-self: flex-end;
    cursor: pointer;

}

.cafes-page__add-cafe-field__add-button:hover{
    width: 14em;
    height: 7em;
    background-color: #ffffff;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    transform: rotate(180deg);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    margin-right: 25em;
    align-self: flex-end;

}


.cafes-page__no-cafes-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding-bottom: 20%;
}

.cafes-page__no-cafes-container__text-field{
    display: flex;
    justify-content: center;
    height: 80%;
    width: 100%;
}
.cafes-page__no-cafes-container__text-field_span{
    font-family: FuturaDemiCTT Normal, Arial;
    font-size: 5rem;

}
