@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300&display=swap');
@import '../../scss/themes.scss';

.cafes-page{
    font-family: 'Montserrat',SansSerif;
    display: flex;
    flex-direction: column;

    &__all-cafes-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        min-height: 60vh;
        &_h4{
            font-size: 2rem;
            margin: 0 auto;
        }
        &__add-button{
            background-color: #C4C4C4;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            width: 30vw;
            height: calc(30vw/2);
            min-width: 260px;
            min-height: 130px;
            max-width: 390px;
            max-height: 195px;
            margin-bottom: 5rem;
            transition: transform 0.25s ease-in-out;
            &:hover{
                transform: scale(1.1);
            }

            &_img{
                background: white;
                height: 50%;
                border-radius: 50%;
                width: 25%;
                box-shadow: 0px 0px 20px rgba(0,0,0,0.15);
                cursor: pointer;
                &:hover{

                    box-shadow: 0px 0px 20px rgba(0,0,0,0.25);
                }
            }
        }
    }

    &__add-cafe-field{
        float: right;
        width:100%;
        height:200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__text-field{
            align-self: flex-end;
            margin-right: 20vw;

            &_span{
                font-size: 2rem;
                width:40%;
            }
        }
        &__text-strip{
            width: 65%;
            min-width: 220px;
            height:0.5em;
            align-self: flex-end;

        }

        &__add-button{
            width: 18vw;
            height: 9vw;
            min-width: 120px;
            min-height: 60px;
            max-width: 220px;
            max-height: 110px;

            border-radius: 50% 50% 0 0 / 100% 100% 0 0;
            transform: rotate(180deg);
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
            margin-right: 40%;
            align-self: flex-end;
            cursor: pointer;

            background-image: url(/images/plus.svg);
            background-size: cover;
            background-position-y: center;


            &:hover{
                box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
            }
        }
    }
    &__no-cafes-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 100%;
        padding-bottom: 20%;


        &__text-field{
            display: flex;
            justify-content: center;
            height: 80%;
            width: 100%;

            &_span{
                font-family: FuturaDemiCTT Normal, Arial;
                font-size: 6vw;

            }
        }
    }

}


@media(max-width: 1250px){


}
