<div class="card-redactor-container">

    <div class="redactor">

    <div class="card-redactor-container__card-form__decorate-text">
        <h4 class="card-redactor-container__card-form__decorate-text_h4">Редактировать карту</h4>
    </div>

    <div class="card-redactor-container__card-form__image-picker">

        <label class="card-redactor-container__card-form__image-picker_label">
            <img class ="card-redactor-container__card-form__image-picker_img" src="https://sun9-12.userapi.com/c853624/v853624246/1f694a/E7zRrtbvTc0.jpg"/>
            <input class="card-redactor-container__card-form__image-picker__input" id="uploadStrip" type="file">
        </label>

        <label class="card-redactor-container__card-form__image-picker_label">
            <img class ="card-redactor-container__card-form__image-picker_img-avatar" src = "https://sun9-52.userapi.com/c857120/v857120621/e1197/AGVLHk62SEs.jpg"/>
            <input class="card-redactor-container__card-form__image-picker__input" id="uploadAvatar" type="file">
        </label>

<!--        <img class ="card-redactor-container__card-form__image-picker_img" src="https://sun9-12.userapi.com/c853624/v853624246/1f694a/E7zRrtbvTc0.jpg"/>-->
<!--        <img class ="card-redactor-container__card-form__image-picker_img-avatar" src = "https://sun9-52.userapi.com/c857120/v857120621/e1197/AGVLHk62SEs.jpg"/>-->
    </div>

    <div class="card-redactor-container__card-form">

    </div>

        <div class="card-redactor-container__card-colors">

            <div class="card-color-pickers-container">

                <div class="card-color-pickers-container_color-picker">
                    <div class="center-picker">
                        <span class="card-color-pickers-container_color-picker_span">Бекграунд</span>
                        <div class="card-color-pickers-container_color-picker_container" id="background-color"></div>
                    </div>
                </div>

                <div class="card-color-pickers-container_color-picker">

                    <div class="center-picker">
                        <span class="card-color-pickers-container_color-picker_span">Фореграунд</span>
                        <div class="card-color-pickers-container_color-picker_container" id="foreground-color"></div>
                    </div>
                </div>

                <div class="card-color-pickers-container_color-picker">

                    <div class="center-picker">
                        <span class="card-color-pickers-container_color-picker_span">Лейбл</span>
                        <div class="card-color-pickers-container_color-picker_container" id="label-color"></div>
                    </div>
                </div>

            </div>

        </div>


    </div>


    <div class="card-redactor-container__card-model">

    </div>



</div>




