<div class="card-redactor-container">

    <div class="redactor">

        <div class="card-redactor-container__card-form__decorate-text">
            <h4 class="card-redactor-container__card-form__decorate-text_h4">Редактировать карту</h4>
        </div>

        <div class="card-redactor-container__card-form__image-picker">

            <label class="card-redactor-container__card-form__image-picker_label">
                <img class="card-redactor-container__card-form__image-picker_img" src="/images/strip.png"/>
                <input class="card-redactor-container__card-form__image-picker__input" id="uploadStrip" type="file"
                       accept="image/x-png,image/gif,image/jpeg">
            </label>

            <label class="card-redactor-container__card-form__image-picker_label">
                <img class="card-redactor-container__card-form__image-picker_img-avatar" src="/images/cardlogo.png"/>
                <input class="card-redactor-container__card-form__image-picker__input" id="uploadAvatar" type="file"
                       accept="image/x-png,image/gif,image/jpeg, image/png">
            </label>
        </div>

        <div class="card-redactor-container__card-form">

        </div>

        <div class="card-redactor-container__card-colors">

            <div class="card-color-pickers-container">

                <div class="card-color-pickers-container_color-picker">
                    <div class='card-color-pickers-container_color-picker__inputs'>

                        <div class='card-color-pickers-container_color-picker__inputs__background'>
                            <span class='card-color-pickers-container_color-picker__inputs_background_span'>Бэкграунд</span>
                            <input type="color" class="card-color-pickers-container_color-picker__inputs_background_input">
                        </div>

                        <div class='card-color-pickers-container_color-picker__inputs__foreground'>
                            <span class='card-color-pickers-container_color-picker__inputs_foreground_span'>Форграунд</span>
                            <input type="color" class="card-color-pickers-container_color-picker__inputs_foreground_input">
                        </div>

                        <div class='card-color-pickers-container_color-picker__inputs__label'>
                            <span class='card-color-pickers-container_color-picker__inputs__label_span'>Лейбл</span>
                            <input type="color" class="card-color-pickers-container_color-picker__inputs__label_input">
                        </div>

                    </div>
                </div>

            </div>

        </div>


    </div>


    <div class="card-redactor-container__card-model">

    </div>


</div>




