@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300&display=swap');
@import '../../scss/themes.scss';
.redactor{
    font-family: 'Montserrat',SansSerif;
    display: flex;
    flex-direction: column;
}

.card-redactor-container__card-form {
    &__decorate-text {
        display: flex;
        justify-content: space-around;
        &_h4 {
            font-family: 'Montserrat', arial;
            font-size: 2rem;
            font-weight: bold;
            margin: 1rem 0;
        }
    }
    &__image-picker{

        width: 100%;
        padding-bottom: 5%;
        justify-content: space-around;
        display: flex;
        flex-direction: column-reverse;
        filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.25));

        object-fit: cover;

        &_img{
            height: 120px;
            width: 300px;
            object-fit: cover;
            &-avatar{
                height: 120px;
                width: 120px;
                object-fit: cover;
            }
        }
    }

}
.card-redactor-container__card-model{
}





@media ( min-width : 600px ) {

    .card-redactor-container__card-form__image-picker {
        flex-direction: unset;
        filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.25));
    }

    .card-redactor-container {
        /*width: 100%;*/
        display: -webkit-flex;
        display: flex;
        margin: 0 auto;
        padding: 0 10%;
        justify-content: space-between;

        &__card-form {
            -webkit-flex: 1;
            flex: 1;

            background: none;

            &__buttons {
                display: flex;
                flex-wrap: wrap;

                &__save {
                    margin: 10px auto;
                    width: 200px;
                    height: 50px;
                }

                &__publish {
                    margin: 10px auto;
                    width: 200px;
                    height: 50px;
                }
            }

            &__image-picker__input {
                width: 1px;
            }

        }

        &__card-model {
            margin-top: 10%;

        }
    }
}


.card-color-pickers-container{
    display: flex;

    flex-direction: column;
    &_color-picker{
        display: flex;
        flex-direction: column;
        padding-bottom: 0.5rem;
        border-radius: 0.5rem;

        -webkit-filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.25));
        filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.25));
        width: -moz-available;
        &_span{
            font-size: 1rem;
            justify-self: center;
        }
        &_container{
            justify-self: center;
        }

        &__inputs{
            display: flex;
            justify-content: space-around;

            &__background{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                &_span{

                }
                &_input{
                    margin: 0 auto;
                }
            }
            &__foreground{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                &_span{

                }
                &_input{
                    margin: 0 auto;
                }
              }
            &__label{
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                &_span{

                }
                &_input{
                    margin: 0 auto;
                }

            }

        }

    }
}
.center-picker{
    display: flex;
    justify-content: space-around;

    margin: 1rem;
}

.loyalty-redactor-container{
    width: 100%;
    //overflow: hidden;
}


