<div class="card-redactor-container">

    <div class="card-redactor-container__card-form">

        <div class="card-redactor-container__card-form__decorate-text">
            <h4 class="card-redactor-container__card-form__decorate-text_h4">Редактировать карту</h4>
        </div>

        <div class="card-redactor-container__card-form__image-picker">
            <img class ="card-redactor-container__card-form__image-picker_img" src="strip.png"/>
        </div>

    </div>

    <div class="card-redactor-container__card-model">

    </div>

</div>




