<div class="staff-actions-container__actions__action__date">
    <div class="staff-actions-container__actions__action__date__strip-span">
        <span class="staff-actions-container__actions__action__date__strip-span_span">{{date}}</span>
        <div class="staff-actions-container__actions__action__date__strip-span__strip">
        </div>
    </div>


</div>
