<div class="big-form-cell">

    <div class="big-form-cell__delete" id="cell-delete-{{cell_id}}">

    </div>

    <div class="big-form-cell__question">
        <h4 class="big-form-cell__question_h4">Текст вопроса</h4>
        <input class="big-form-cell__question_input" type="text">
    </div>
    <div class="big-form-cell__answer-type">

    </div>

    <div class="big-form-cell__answer-options">

    </div>

    <div class="big-form-cell__save">

    </div>


</div>
