.page-header {
    font-family: Montserrat;
    font-size: 1.5rem;
    align-items: center;
    display: flex;
    max-height: 5%;
    /*margin-top: 1.5em;*/
    margin-right: 1em;
    margin-left: 1em;
}
.page-header__nav {
    flex: 1;
}

.page-header__nav__menu {
    margin-top: 0.5em;
    display: flex;
    justify-content: space-around;
}

.page-header__nav__menu_list {
    padding-left: 1em;
    padding-right: 1em;
    white-space:nowrap;
    list-style: none;
}
.page-header__nav__menu_list_a{
    color: black;
}

page-header__nav__menu_list_span:hover {
    /*text-decoration: underline;*/
    /*cursor: pointer;*/
}

.page-header__logo-container_img{
    margin-top: 1.5em;
    max-height: 100px;
    max-width: 100px;
    object-fit: cover;
}

.page-header__avatar_img{
    margin-top: 0.5em;
    max-height: 50px;
    max-width: 50px;
    object-fit: cover;
}
.page-header__h4{
    width:100px;
    margin-top: 1.75em;
    /*cursor: pointer;*/
    font-weight: bold;
    color: black;
}

.page-header__h4:hover{
  /*text-decoration: underline;*/
}
