<form id="form" class="date-input" method="post" action="">
    <div class="statistics-component__head__interval-start">
        <input class="date-input_input" type="date" id="first-date" placeholder="мм-дд-гггг"/>
    </div>
    <div class="statistics-component__head__interval-end">
        <input class="date-input_input" type="date" id="second-date" placeholder="мм-дд-гггг"/>
    </div>
</form>
