<form id="form" class="date-input" method="post" action="">
    <label class="date-input_label" for="amount">date</label>
    <input class="date-input_input" type="text" id="date" placeholder="мм/дд/гггг"/>
</form>
