<div class="apple-card-published-qr-container">
    <div class="apple-card-published-qr-container__QR-window">
        <h4 class="apple-card-published-qr-container__QR-window_h4" >Ваша карточка</h4>
        <a class="apple-card-published-qr-container__QR-window_a" href="{{cardLink}}">{{cardLink}}</a>
        <img class="apple-card-published-qr-container__QR-window_img" src="{{qrImage}}">
    </div>
</div>
