@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300&display=swap');


.page-header{
    padding: 20px;
}

.nav {
    font-family: 'Montserrat',Arial;
    width: 100%;
    position: relative;

}

.nav-header {
    display: inline;
    width: 15%;
}

.nav-header_img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    margin: auto;
}
.nav__btn {
    display: none;
}

.nav-links {
    display: flex;
    float: right;
    font-size: 18px;
    background: white;
    z-index: 5;
    justify-content: space-between;
    width: 85%;
    opacity: 95%;
}

.nav-links__link-container {
    display: flex;
    text-decoration: none;
    color: #000000;
    height: 100px;
}
.nav-links__link-container-avatar {
    display: flex;
    text-decoration: none;
    color: #000000;
}


.nav-links__link-container_a{
    margin: auto;
    white-space: nowrap;
    text-decoration: none;
    color: black;
    padding: 0 10px;
}
.nav-links__link-container_a:hover{
    text-decoration: underline;
}

.nav-links__link-container_img {
    display: inline-block;
    max-height: 100px;
    max-width: 100px;
    margin: 0 auto;
    border-radius: 50%;
    object-fit: cover;
    height: 8vw;
    width: 8vw;
    min-width: 50px;
    min-height: 50px;
}

#nav-check {
    display: none;
}

@media (max-width:900px) {
    .nav__btn {
        display: inline-block;
        position: absolute;
        right: 0;
        top: 50%;
    }
    .nav__btn_label {
        display: inline-block;
        width: 50px;
        height: 50px;
    }

    .nav__btn_label_span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #000000;
    }
    .nav-links {
        position: absolute;
        display: flex;
        flex-direction: column-reverse;

        transition: all 0.3s ease-in;
        overflow-y: hidden;
        left: 0;
        width: 100%;
    }
    .nav-links__link-container {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        margin-top: 10%;
    }




    .nav-links__link-container_img  {
        display: inline-block;
        max-height: 100px;
        max-width: 100px;
        margin-top: 10px;
    }

    #nav-check:not(:checked) ~ .nav-links {
        height: 0px;
    }
   #nav-check:checked ~ .nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }

}


