<div class="logoDiv">
    <img src="https://sun9-30.userapi.com/c857120/v857120674/ded2f/D5blv62-tno.jpg" class="logo">
</div>

<div class="rightPart">
    <div class="navHeader">
        <input class="menu-btn" type="checkbox" id="menu-btn"/>
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <ul class="menu">
            {{#each menuList}}
                <li><a href={{href}}>{{text}}</a></li>
            {{/each}}
        </ul>
    </div>
</div>