<div class="UserProfileHeader">
    <div class="UserProfileLogoField">
        <img src="{{userImageSrc}}">
        <span>изменить фото</span>
    </div>
    <div class="UserProfileHeader-right">
        <div class="exitButton">
            <h4>Выйти</h4>
        </div>
        <div class="lastUpdate">
            <span>Обновлено {{lastChange}} назад</span>
        </div>
    </div>
</div>
