<div class="description-loyalty__text-field">
            <span class="description-loyalty__text-field_span">Описание действия данной системы
                Описание действия данной системы  Описание действия данной системы
                Описание действия данной системы  Описание действия данной системы  Описание действия данной системы </span>
</div>
<div class="description-loyalty__logic-container">

</div>
