<div id="c{{id}}" class="landing-cafe-card-container">
    <div class="landing-cafe-card-container__image-container">
        <img class="landing-cafe-card-container__image-container_img" src="{{cafeImageSrc}}" alt="">
    </div>

    <div class="landing-cafe-card-container__name-container">
        <div class="landing-cafe-card-container__name-container__strip"></div>
        <div class="landing-cafe-card-container__name-container__text-field">
            <h4 class="landing-cafe-card-container__name-container__text-field_h4">{{name}}</h4>
        </div>
    </div>
</div>
