<form class="form-field" method="post">
    <div class="form-field__input-field">
        <input class="form-field__input-field_input" type="text" id="full-name" required/>
        <label class="form-field__input-field_label" for="full-name">{{name}}</label>
    </div>

    <div class="form-field__input-field">
        <input class="form-field__input-field_input" type="email" id="email" required/>
        <label class="form-field__input-field_label" for="email">{{email}}</label>
    </div>

    <div class="form-field__input-field">
        <input class="form-field__input-field_input" type="password" id="password" required/>
        <label class="form-field__input-field_label" for="password">{{password}}</label>
    </div>

    <div class="form-field__input-field">
        <input class="form-field__input-field_input" type="password" id="re-password" required/>
        <label class="form-field__input-field_label" for="re-password">{{repeatedPassword}}</label>
    </div>
    <div class="form-field__have-account">
        <label class="form-field__have-account__ha">уже есть аккаунт? </label>
        <label class="form-field__have-account__login-span">Войти</label>
    </div>

    <input class="form-field__submit" type="submit" value="Готово"/>

</form>
