@import '../../scss/themes.scss';

.decorate-container {
    &__dec-label {
        &__lab-field {
            &_span {
                @include themify($themes){
                    color: themed('textColor');
                }
            }
        }
        &__dec-field {
            &__rect-field {
                &__rect {
                    @include themify($themes){
                        background-color: themed('mainColor');
                    }
                }

                &__circle {
                    @include themify($themes){
                        background-color: themed('mainColor');
                    }
                }
            }

        }

    }


}



.form-field {

    &__submit {
        @include themify($themes){
            color: themed('buttonTextColor');
        }
        @include themify($themes){
            background-color: themed('mainColor');
        }


        &:active {
            @include themify($themes){
                color: themed('buttonTextColor');
            }
            @include themify($themes){
                background: themed('mainColor');
            }
        }
    }

    &__input-field {
        &_label{
            @include themify($themes){
                color: themed('textColor');
            }
        }

        &_input {
            @include themify($themes){
                border-color: themed('textColor');
            }
            @include themify($themes){
                color: themed('textColor');
            }

        }
    }

    &__have-account {
        @include themify($themes){
            color: themed('textColor');
        }

        &__login-span {
            @include themify($themes){
                color: themed('textColor');
            }
        }
    }
}




