<div class="decorateContainer">

    <div class="labelContainer">
        <div class="labelField">
            <span>{{name}}</span>
        </div>
        <div class="decorateField">
            <div class="rectField">
                <div class="decorateRect"></div>
            </div>

            <div class="decorateCircle"></div>
        </div>
    </div>

</div>