<form class="formField" method="post">
    <div class="InputField">
        <input type="text" id="full-name" required/>
        <label for="full-name">{{name}}</label>
    </div>

    <div class="InputField">
        <input type="email" id="email" required/>
        <label for="email">{{email}}</label>
    </div>

    <div class="InputField">
        <input type="password" id="password" required/>
        <label for="password">{{password}}</label>
    </div>

    <div class="InputField">
        <input type="password" id="re-password" required/>
        <label for="re-password">{{repeatedPassword}}</label>
    </div>
    <div class="haveAccount">
        <label>уже есть аккаунт? </label>
        <label class="loginSpan">Войти </label>
    </div>

    <input type="submit" value="Готово"/>

</form>;