<div class="decorate-container">

    <div class="decorate-container__dec-label">
        <div class="decorate-container__dec-label__lab-field">
            <span class="decorate-container__dec-label__lab-field_span">{{name}}</span>
        </div>
        <div class="decorate-container__dec-label__dec-field">
            <div class="decorate-container__dec-label__dec-field__rect-field">
                <div class="decorate-container__dec-label__dec-field__rect-field__rect"></div>
            </div>

            <div class="decorate-container__dec-label__dec-field__circle"></div>
        </div>
    </div>

</div>
