.decorate-container__dec-label__lab-field {
    display: inline-block;
    vertical-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    overflow: auto;
    margin: auto;
    top: 0;
    left: 2rem;
    bottom: 0;
    right: 2rem;
    width: 100%;
}

/*.loginField > img {*/
/*    height: 65%;*/
/*    overflow: auto;*/
/*    margin: auto;*/
/*    top: 0;*/
/*    left: 0;*/
/*    bottom: 0;*/
/*    right: 0;*/
/*}*/


.decorate-container {
    width: 100%;

}

.decorate-container__dec-label {
    width: 60%;
    height: 50%;
    padding-left: 10%;
    padding-top: 0%;
}

.decorate-container__dec-label__lab-field_span {
    width: 100%;
    height: 100%;
    font-family: 'FuturaDemiCTT Normal', arial;
    font-style: normal;
    font-size: 3rem;
}

.decorate-container__dec-label__dec-field {
    padding-top: 0;
    padding-left: 20%;
    display: inline-flex;
    justify-content: space-between;

}

.decorate-container__dec-label__dec-field__rect-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 1rem;
}

.decorate-container__dec-label__dec-field__rect-field__rect {
    width: 10rem;
    height: 0.2rem;
    left: 50%;
    background-color: #1e768f;
}

.decorate-container__dec-label__dec-field__circle {
    width: 2.5rem;
    height: 2.5rem;
    left: 60%;
    background-color: #1e768f;
    border-radius: 50%;
}


.formContainer {
    width: 100%;
}


.form-field {
    font-family: 'FuturaBookCTT Normal', arial;
    width: 25%;
    margin: 0 auto;
    padding-bottom: 5%;
}

.form-field__submit {
    font-weight: bolder;
    font-size: 1.5rem;
    color: white;
    background-color: #1e768f;
    margin-top: 2rem;
    width: 100%;
    height: 4rem;
}

.form-field__submit:hover {
    cursor: pointer;
}

.form-field__submit:active {
    color: white;
    background: #1e768f;
}


.form-field__input-field {

    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
    position: relative;


}

.form-field__input-field_input {

    border: none;
    border-bottom: solid 2px #000000;
    width: 100%;
    padding-bottom: 2%;
    background: none;
    color: #000000;
    padding-top: 5%;
    font-size: 1rem;
}

.form-field__input-field_input:focus, .form-field__input-field_input:active {
    outline: none;
}

.form-field__input-field_label {
    position: absolute;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: rgb(0, 0, 0);
    pointer-events: none;
    -webkit-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s;
    top: -0.5rem;
    font-size: 1rem;
}



.form-field__have-account {
    width: 100%;
    padding-top: 2rem;
    display: inline-block;
    text-align: center;
}

/*.haveAccount span {*/
/*    display: block;*/
/*    word-wrap: break-word;*/
/*    font-family: 'FuturaDemiCTT Normal', arial;*/
/*}*/

.form-field__have-account__login-span {
    display: block;
    word-wrap: break-word;
    /*text-decoration: underline;*/
}

.newCafeContainer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;

}

.photoContainer {
    text-align: center;
}

.photoContainer img {
    width: 75%;

}

.photoContainer span {
    display: block;
    font-family: 'FuturaBookCTT Normal', arial, serif;
}

@media only screen and (max-width: 680px) {

    .form-field {
        width: 75%;
    }

    .form-field__input-field_input {
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .decorate-container__dec-label__dec-field__circle {
        left: 40%;
    }

    .newCafeContainer {
        display: table;
        justify-content: space-between;
        padding-bottom: 2rem;

    }

}


