<div class="loyalty-wallet-container">
    <div class="loyalty-wallet-container__text-field">
        <h4 class="loyalty-wallet-container__text-field_h4" >{{text}}</h4>
    </div>
    <div class="loyalty-wallet-container__logic">
        <span class="loyalty-wallet-container__logic_span" >Кешбек</span>
        <input class="loyalty-wallet-container__logic_input" type="text" value="{{cashback}}">
    </div>
</div>
