<div class="UserProfileForm">
    <form class="formField">
        <div class="InputField">
            <input type="text" id="full-name" required value="{{name}}"/>
            <label for="full-name">Имя</label>
        </div>

        <div class="InputField">
            <input type="email" id="email" required value="{{email}}"/>
            <label for="email">Почта</label>
        </div>

        <div class="InputField">
            <input type="password" id="password" required/>
            <label for="password" >Пароль</label>
        </div>

        <div class="InputField">
            <input type="password" id="re-password" required/>
            <label for="re-password" >Повторите пароль</label>
        </div>
        <input type="submit" value="Сохранить"/>

    </form>
</div>
