
<div class="staff-page-container">
    <div class="staff-page-container__QR-window">
        <h4 class="staff-page-container__QR-window_h4" >Дайте сотруднику отсканировать QR-код</h4>
        <img class="staff-page-container__QR-window_img" src="/images/test.jpg">
    </div>
</div>
