<form class="formField">

    <div class="InputField">
        <input type="email" id="email" required/>
        <label for="email">{{email}}</label>
    </div>

    <div class="InputField">
        <input type="password" id="password" required/>
        <label for="password">{{password}}</label>
    </div>


    <input type="submit" value="Готово"/>

</form>;