@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300&display=swap');

.form-field__need-register {
    width: 100%;
    padding-top: 2rem;
    display: inline-block;
    text-align: center;
}

.form-field__need-register__first,
.form-field__need-register__reg-span{
    display: block;
    word-wrap: break-word;
    font-family: 'Montserrat',SansSerif;

}

.form-field__need-register__reg-span {
    display: block;
    word-wrap: break-word;
    cursor: pointer;
}
