.card-form__input-field {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding-bottom: 1rem;
    border-radius: 0.5rem;
    color: #000;
    background: #fff;
    -webkit-filter: drop-shadow(5px 5px 5px #000);
    filter: drop-shadow(5px 5px 5px #000);
}
.card-form__submit{
    font-weight: 500;
    color: white;
    background-color: #1e768f;
    margin-top: 2rem;
    height: 5rem;
    width: 100%;
}
