

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

$themes: (
        light: (
                backgroundColor: #ffffff,

                alertBackgroundColor: #ffffff,

                cafeCardColor: #ffffff,

                cafeCardNameBackgroundColor: #ffffff,

                textColor: #000000,

                timeStripColor:#000000,

                buttonTextColor: #ffffff,

                addButtonColor: #ffffff,

                mainColor: #2b8aa3,

                secondaryColor: #1e768f,

                accentColor:#fa9917,

                errorColor:#ff1813,



        ),
        dark: (

                backgroundColor: #000000,

                alertBackgroundColor: #f9f7f7e6,

                cafeCardColor: #f9f7f7e6,

                cafeCardNameBackgroundColor: #ffffff,

                textColor: #d8dbdb,

                timeStripColor:#f9f7f7e6,

                buttonTextColor: rgb(255, 255, 255),

                addButtonColor: #f9f7f7e6,

                mainColor: #2b8aa3b8,

                secondaryColor: #1e768f,

                accentColor:#fa991782,

                errorColor:#ff1813,

        ),
);

