<div class="staff-page">

    <div class="staff-page__top">

    <div class="staff-page__top__design">
        <div class="staff-page__top__design__work">
           <span class="staff-page__top__design__work__position"> {{_Position}} </span>
        </div>
        <div class="staff-page__top__design__long-strip"></div>
        <div class="staff-page__top__design__medium-strip"></div>
        <div class="staff-page__top__design__short-strip"></div>
    </div>
        <div class="staff-page__top__user-container">

        <div class="staff-page__top__user-container__user-image-container">
            <div class="staff-page__top__user-container_user-image-container__image-square">
                <img class="staff-page__top__user-container__user-image-container__image-square_img"
                     src="{{_Photo}}">
            </div>
        </div>
        <div class="staff-page__top__user-container__name-container">
            <span class="staff-page__top__user-container__name-container_span">{{_StaffName}}</span>
            <div class="staff-page__top__user-container__name-container__strip"></div>
        </div>

        </div>

    </div>

    <div class="staff-page__statistics-container">


        <div class="staff-page__statistics-container__title" >
            <h4 class="staff-page__statistics-container__title_h4">Статистика</h4>
        </div>

        <div class="staff-page__statistics-container__graph-container" >

        </div>


    </div>


    <div class="staff-page__recent-actions">
        <div class="staff-page__recent-actions__title" >
            <h4 class="staff-page__recent-actions__title_h4" >Последние действия</h4>
        </div>

        <div class="staff-page__recent-actions__actions-container">

            <div class="staff-page__recent-actions__actions-container__date-container">
                <span class="staff-page__recent-actions__actions-container__date-container_span">12</span>
                <span class="staff-page__recent-actions__actions-container__date-container_span">02</span>
            </div>

            <div class="staff-page__recent-actions__actions-container__actions">

            </div>

        </div>




    </div>

    <div class="staff-page__redactor"></div>
    <div class="staff-page__redactor__button-fire">
        <span class="staff-page__redactor__button-fire_span" >Уволить</span>
    </div>
    </div>


</div>




