<div class="logoDiv">
    <img src={{logo}} class="logo">
</div>

<div class="rightPart">
    <div class="navHeader">
        <input class="menu-btn" type="checkbox" id="menu-btn"/>
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <ul class="menu"></ul>
    </div>
    <div class="userPicDiv">
        <img src={{userPic}}>
    </div>
</div>
