<div class="landing-cafes-page">
    <h4 class="landing-cafes-page_h4">Наши клиенты</h4>
<div class="landing-cafes-page__all-cafes-container">

    {{#each cafes}}
        {{{this}}}
    {{/each}}

</div>

</div>
