<div class="landing-cafes-page">
<div class="landing-cafes-page__all-cafes-container">

    {{#each cafes}}
        {{{this}}}
    {{else}}
        <span>Мы ничего не нашли :|</span>
    {{/each}}

</div>

</div>
