<div class="loyalty-stamp-container">
    <div class="loyalty-stamp-container__text-field">
        <h4 class="loyalty-stamp-container__text-field_h4" >{{text}}</h4>
    </div>
    <div class="loyalty-stamp-container__logic">
        <span class="loyalty-stamp-container__logic_span" >Количество печатей</span>
        <input class="loyalty-stamp-container__logic_input" type="text" maxlength="2" pattern="[0-9]*" value="{{stamps}}">
    </div>
</div>
