<div class="new-cafe-page">


<div class="new-cafe-page__decorate-container">
    <div class="new-cafe-page__decorate-container__text-field">
        <div class="new-cafe-page__decorate-container__text-field__label-field">
            <span class="new-cafe-page__decorate-container__text-field__label-field-span">
                {{cafeName}}
            </span>
        </div>
    </div>
</div>


<div class="new-cafe-page__outer">


        <div class="new-cafe-page__outer__sub__image-container">
            <div class="new-cafe-page__outer__sub__image-container__photo-container">
                    <label class="new-cafe-page__outer__sub__image-container__photo-container__image-picker">
                        <img  class="new-cafe-page__outer__sub__image-container__photo-container__image-picker_img" id="image" src={{imgSrc}} alt="">
                        <span class="new-cafe-page__outer__sub__image-container__photo-container__image-picker_span">Выберите изображение</span>
                        <input class="new-cafe-page__outer__sub__image-container__photo-container__image-picker_input" id="upload" type="file" accept="image/x-png,image/gif,image/jpeg, image/png" >
                    </label>
            </div>
        </div>



    <div class="new-cafe-page__outer__sub">
        <div class="new-cafe-page__outer__sub__form-container">
            <form class="new-cafe-page__outer__sub__form-container__form-field"></form>
        </div>
    </div>


</div>

</div>
