//@import '../../scss/themes.scss';


.new-cafe-page__decorate-container {
    font-family: 'Montserrat', arial;
    &__text-field {
        height: 50%;

        &__label-field{
            display: inline-block;
            vertical-align: center;
            font-style: normal;
            font-weight: normal;
            overflow: auto;
            margin: auto;
            top: 0;
            left: 2rem;
            bottom: 0;
            right: 2rem;
            width: 100%;

            &-span{
                width: 100%;
                height: 100%;
                font-weight: bold;
                font-size: 5vw;
                margin-left: 30px;
            }
        }
    }
}


.new-cafe-page__outer{
    font-family: 'Montserrat', arial;
    display: flex;
    justify-content: space-around;

}

.new-cafe-page__outer__sub{
    display: flex;
}

.new-cafe-page__outer__sub__image-container{
    display: flex;
    justify-content: space-between;
    margin: 40px;
    filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.25));

}

.new-cafe-page__outer__sub__image-container__photo-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.new-cafe-page__outer__sub__image-container__photo-container__image-picker{
    width: 100%;
    border-radius: 5px;
    display: block;
    transition: border 300ms ease;
    cursor: pointer;
    text-align: center;

}

.new-cafe-page__outer__sub__image-container__photo-container__image-picker_img{
    width: 45vw;
    height: calc(45vw/2);
    display: block;
    object-fit: cover;


}
.new-cafe-page__outer__sub__image-container__photo-container__image-picker_span{

}

.new-cafe-page__outer__sub__image-container__photo-container__image-picker_input{
    display: block;
}



.new-cafe-page__outer__sub{
    //margin: 0 auto;
}

.new-cafe-page__outer__sub__form-container{
    margin: auto 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.new-cafe-page__outer__sub__form-container__form-field{
    min-width: 50%;
    width: 25vw;

    min-height: 40%;
}


@media (max-width: 800px) {
    .new-cafe-page__outer{
        flex-direction: column;
    }

}
input[type=file] {
    outline: 0;
    opacity: 0;
    pointer-events: none;
    user-select: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}






