
@media(max-width: 600px) {
  h1{
    font-size: 2.5rem;

  }
  .new-cafe-page__decorate-container__text-field{
    margin-left:auto;
    margin-right:auto;
  }

}
@media(min-width: 600px) {
  h1{
    font-size: 3.5rem;

  }
  .new-cafe-page__decorate-container__text-field{
    margin-left: 100px;
  }

}


.new-cafe-page__decorate-container {
  font-family: 'Montserrat', arial;
  display: flex;
  justify-content: flex-start;
  &__text-field {
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    &_h1{
      margin: 0;
    }
    &__strip{
      height: 5px;
      background-color: #1C768F;
    }
  }
}


.new-cafe-page__outer{
  font-family: 'Montserrat', arial;
  display: flex;
  justify-content: space-around;

}

.new-cafe-page__outer__sub{
  display: flex;
}

.new-cafe-page__outer__sub__image-container{
  margin-top: 20px;
  filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.25));

}

.new-cafe-page__outer__sub__image-container__photo-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.new-cafe-page__outer__sub__image-container__photo-container__image-picker{
  width: 100%;
  border-radius: 5px;
  display: block;
  transition: border 300ms ease;
  cursor: pointer;
  text-align: center;

}
.new-cafe-page__outer__sub__image-container__photo-container__image-picker__plus{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  top: 0;
  background: rgba(255,255,255,0);
  max-height: calc(650px/2);
  height: calc(85vw/2);
  max-width: 650px;
  width: 85vw;
  &_img{
    background: white;
    height: 50%;
    width: 25%;
    border-radius: 50%;
    opacity: 0.8;

  }
}
_::-webkit-full-page-media, _:future, :root .new-cafe-page__outer__sub__image-container__photo-container__image-picker__plus {
  visibility: hidden;
}
_::-webkit-full-page-media, _:future, :root .new-cafe-page__outer__sub__image-container__photo-container__image-picker__plus_img {
  visibility: hidden;
}
.new-cafe-page__outer__sub__image-container__photo-container__image-picker_img{

  max-height: calc(650px/2);
  max-width: 650px;

  width: 85vw;
  height: calc(85vw/2);

  display: block;
  object-fit: cover;
  margin: 0 auto;


}
.new-cafe-page__outer__sub__image-container__photo-container__image-picker_span{
  font-size: 1.5rem;
}

.new-cafe-page__outer__sub__image-container__photo-container__image-picker_input{
  display: block;
}



.new-cafe-page__outer__sub{

}

.new-cafe-page__outer__sub__form-container{
  width:100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.new-cafe-page__outer__sub__form-container__form-field{
  max-width:600px;
  max-height:900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .input-field {
    position: relative;
    margin: 15px auto 0 auto;
    display: flex;
    width: 300px;

    &_input {
      border-radius: 0;
      border: none;
      border-bottom: solid 2px;
      background: none;
      font-size: 1rem;
      margin: 15px auto;
      min-width: 100%;
    }

    &_label {
      position: absolute;
      left: 0;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      pointer-events: none;
      -webkit-transition: all 0.15s ease-out 0s;
      transition: all 0.15s ease-out 0s;
      font-size: 1rem;
    }

    &__submit {
      -webkit-appearance: none;
      font-size: 1rem;
      margin: 0 auto;
      background-color: #1e768f;
      color: white;
      font-weight: lighter;
      border: none;
      width: 250px;
      height: 50px;
      cursor: pointer;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);

      &:hover {
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
      }
    }
  }


}


@media (max-width: 800px) {
  .new-cafe-page__outer{
    flex-direction: column;
  }

}
input[type=file] {
  outline: 0;
  opacity: 0;
  pointer-events: none;
  user-select: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
