.form-creator-container{
  display: flex;
  flex-direction: column;
  font-family: Montserrat, sans-serif;
  &_h4{
    margin: 10px auto;
    font-size: 2rem;
  }

  &__button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    cursor: pointer;
    height: 50px;
    width: 200px;
    background-color: #1C768F;
    transition: background-color 1s ease;
    &:active {
      background-color: #fa9917;
      transition: background-color 0s ease;
    }
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15);
    &:hover{
      box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
    }
    &_span{
      color:white;
      margin: 0 auto;
      white-space: nowrap;
    }
  }
  &__save-button{
    height: 50px;
    width: 200px;
    background-color: #1C768F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px auto;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15);
    transition: background-color 1s ease;
    &:active {
      background-color: #fa9917;
      transition: background-color 0s ease;
    }
    &:hover{
      box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.35);
    }
    &_span{
      color:white;
      margin: 0 auto;
      white-space: nowrap;
    }
  }

}
