<div class="form-creator-container">

    <h4 class="form-creator-container_h4" >Форма обратной связи</h4>

    <div class="form-creator-container__button">
        <span class="form-creator-container__button_span">Добавить вопрос</span>
    </div>

    <div class="form-creator-container__cells-container">
    {{#each cells}}
        <div class="form-creator-container__cells-container__cell" id="cell-{{cell_id}}">
        </div>
    {{/each}}
    </div>

    <div class="form-creator-container__save-button" >
        <span class="form-creator-container__save-button_span">Сохранить</span>
    </div>

</div>
