<h4 class="big-form-cell__answer-type_h4">Тип ответа</h4>
<div class="big-form-cell__answer-type__types" id ="types-{{cell_id}}" >

    <div class="big-form-cell__answer-type__types__type" >
        <span class="big-form-cell__answer-type__types__type_span" >Текст</span>
    </div>
    <div class="big-form-cell__answer-type__types__type" >
        <span class="big-form-cell__answer-type__types__type_span" >Телефон</span>
    </div>
    <div class="big-form-cell__answer-type__types__type">
        <span class="big-form-cell__answer-type__types__type_span" >Дата</span>
    </div>
    <div class="big-form-cell__answer-type__types__type">
        <span class="big-form-cell__answer-type__types__type_span" >Один из списка</span>
    </div>
    <div class="big-form-cell__answer-type__types__type">
        <span class="big-form-cell__answer-type__types__type_span" >Несколько из списка</span>
    </div>
</div>
